In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
usersDataTrain = pd.read_csv('../setTraining2.csv')

In [3]:
usersDataTrain.head()

,Unnamed: 0,person,event_checkout,event_conversion,event_viewed product,condition_Bom,condition_Bom - Sem Touch ID,condition_Excelente,condition_Muito Bom,condition_Novo,...,Parte del dia_Tarde,marca_apple,marca_asus,marca_lenovo,marca_lg,marca_motorola,marca_quantum,marca_samsung,marca_sony,label
0,0,0008ed71,3.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,...,2.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0
1,1,000c79fe,1.0,0.0,3.0,4.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2,001802e4,1.0,0.0,4.0,3.0,0.0,2.0,0.0,0.0,...,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,3,0019e639,3.0,1.0,89.0,44.0,0.0,15.0,34.0,0.0,...,62.0,0.0,0.0,0.0,1.0,82.0,0.0,10.0,0.0,0
4,4,001ca5ee,1.0,0.0,19.0,3.0,0.0,16.0,1.0,0.0,...,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [4]:
users1s = usersDataTrain[usersDataTrain["label"] == 1]
usersDataTrain = pd.concat([usersDataTrain,users1s], ignore_index=True)
usersDataTrain = pd.concat([usersDataTrain,users1s], ignore_index=True)
usersDataTrain = pd.concat([usersDataTrain,users1s], ignore_index=True)
usersDataTrain = pd.concat([usersDataTrain,users1s], ignore_index=True)
usersDataTrain["label"].value_counts()

0    16859
1     3525
Name: label, dtype: int64

In [5]:
usersDataTrain.shape

(20384, 35)

In [6]:
usersDataTrain.columns
usersDataTrain.columns

Index(['Unnamed: 0', 'person', 'event_checkout', 'event_conversion',
       'event_viewed product', 'condition_Bom', 'condition_Bom - Sem Touch ID',
       'condition_Excelente', 'condition_Muito Bom', 'condition_Novo',
       'storage_128GB', 'storage_16GB', 'storage_256GB', 'storage_32GB',
       'storage_4GB', 'storage_512MB', 'storage_64GB', 'storage_8GB',
       'device_type_Computer', 'device_type_Smartphone', 'device_type_Tablet',
       'device_type_Unknown', 'Parte del dia_Madrugada',
       'Parte del dia_Mañana', 'Parte del dia_Noche', 'Parte del dia_Tarde',
       'marca_apple', 'marca_asus', 'marca_lenovo', 'marca_lg',
       'marca_motorola', 'marca_quantum', 'marca_samsung', 'marca_sony',
       'label'],
      dtype='object')

In [7]:
usersDataTrain_encoded= usersDataTrain.drop( ['person','Unnamed: 0'],axis=1)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(usersDataTrain_encoded.drop(['label'], axis=1).values, usersDataTrain_encoded['label'], test_size=0.20, random_state=75)

In [9]:
# Create a random forest Classifier. By convention, clf means 'Classifier'
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=1000)

In [10]:
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [11]:
result = clf.predict_proba(X_test)

In [12]:
result2 = []
for elem in result:
    result2.append(elem[1])

In [13]:
from sklearn import metrics
pred = result2
fpr, tpr, thresholds = metrics.roc_curve(y_test, pred)
metrics.auc(fpr, tpr)

0.9978943359734364

In [45]:
test = pd.read_csv('../setTest2.csv')

In [46]:
person = test["person"]

In [47]:
test.head()

,Unnamed: 0,person,event_checkout,event_conversion,event_viewed product,condition_Bom,condition_Bom - Sem Touch ID,condition_Excelente,condition_Muito Bom,condition_Novo,...,Parte del dia_Noche,Parte del dia_Tarde,marca_apple,marca_asus,marca_lenovo,marca_lg,marca_motorola,marca_quantum,marca_samsung,marca_sony
0,0,00091926,2.0,0.0,250.0,60.0,0.0,75.0,117.0,0.0,...,143.0,0.0,220.0,0.0,0.0,0.0,14.0,0.0,18.0,0.0
1,1,000ba417,6.0,1.0,153.0,115.0,0.0,11.0,34.0,0.0,...,31.0,93.0,8.0,0.0,0.0,4.0,37.0,0.0,110.0,1.0
2,2,000e4d9e,1.0,0.0,339.0,124.0,0.0,53.0,163.0,0.0,...,198.0,123.0,21.0,0.0,0.0,1.0,2.0,0.0,301.0,15.0
3,3,000e619d,1.0,0.0,28.0,14.0,0.0,7.0,8.0,0.0,...,26.0,3.0,7.0,0.0,0.0,3.0,7.0,0.0,12.0,0.0
4,4,001001be,3.0,1.0,41.0,16.0,9.0,1.0,19.0,0.0,...,45.0,0.0,45.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
test = test.drop(['person','Unnamed: 0'],axis=1)

In [49]:
test.head()

,event_checkout,event_conversion,event_viewed product,condition_Bom,condition_Bom - Sem Touch ID,condition_Excelente,condition_Muito Bom,condition_Novo,storage_128GB,storage_16GB,...,Parte del dia_Noche,Parte del dia_Tarde,marca_apple,marca_asus,marca_lenovo,marca_lg,marca_motorola,marca_quantum,marca_samsung,marca_sony
0,2.0,0.0,250.0,60.0,0.0,75.0,117.0,0.0,41.0,86.0,...,143.0,0.0,220.0,0.0,0.0,0.0,14.0,0.0,18.0,0.0
1,6.0,1.0,153.0,115.0,0.0,11.0,34.0,0.0,0.0,115.0,...,31.0,93.0,8.0,0.0,0.0,4.0,37.0,0.0,110.0,1.0
2,1.0,0.0,339.0,124.0,0.0,53.0,163.0,0.0,1.0,108.0,...,198.0,123.0,21.0,0.0,0.0,1.0,2.0,0.0,301.0,15.0
3,1.0,0.0,28.0,14.0,0.0,7.0,8.0,0.0,0.0,8.0,...,26.0,3.0,7.0,0.0,0.0,3.0,7.0,0.0,12.0,0.0
4,3.0,1.0,41.0,16.0,9.0,1.0,19.0,0.0,0.0,39.0,...,45.0,0.0,45.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
test.shape

(17532, 32)

In [51]:
nombreCol = []
for namecolumn in usersDataTrain.columns:
     if ( not namecolumn in test.columns):
            nombreCol.append(namecolumn)
print(nombreCol)
for namecolumn in test.columns:
     if ( not namecolumn in usersDataTrain.columns):
            nombreCol.append(namecolumn)
print(nombreCol)

['label']
['label']

In [52]:
result = clf.predict_proba(test)

In [53]:
result2 = []
for elem in result:
    result2.append(elem[1])

In [54]:
person = person.to_frame()

In [55]:
person['label'] = result2

In [56]:
person.head()

     person  label
0  00091926  0.133
1  000ba417  0.307
2  000e4d9e  0.215
3  000e619d  0.130
4  001001be  0.061

In [57]:
(person["label"]<0.5).value_counts()

True     16968
False      564
Name: label, dtype: int64

In [58]:
kaggle = pd.read_csv('../data/trocafone_kaggle_test.csv')

In [59]:
kaggle.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [60]:
resultado = pd.merge(kaggle,person,on="person",how = "left")

In [61]:
resultado.head()

     person  label
0  4886f805  0.003
1  0297fc1e  0.149
2  2d681dd8  0.066
3  cccea85e  0.345
4  4c8a8b93  0.304

In [62]:
resultado["label"].isnull().value_counts()

False    17532
True      1883
Name: label, dtype: int64

In [63]:
resultado["label"] = resultado["label"].fillna(0)

In [64]:
resultado["label"].isnull().value_counts()

False    19415
Name: label, dtype: int64

In [65]:
(resultado["label"]<0.5).value_counts()

True     18851
False      564
Name: label, dtype: int64

In [66]:
resultado.to_csv('resultadoRandomForest3.csv', index=False)