In [11]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.naive_bayes import GaussianNB
import sklearn

In [13]:
total_train = pd.read_csv('../setTraining.csv')

In [14]:
print('The scikit-learn version is {}.'.format(sklearn.__version__))

The scikit-learn version is 0.18.1.

In [15]:

from imblearn.datasets import fetch_datasets
from kmeans_smote import KMeansSMOTE

#datasets = fetch_datasets(filter_data=['oil'])
X, y = total_train.drop(["label","person"]), total_train["label"]

[print('Class {} has {} instances'.format(label, count))
 for label, count in zip(*np.unique(y, return_counts=True))]

kmeans_smote = KMeansSMOTE(
    kmeans_args={
        'n_clusters': 100
    },
    smote_args={
        'k_neighbors': 10
    }
)
X_resampled, y_resampled = kmeans_smote.fit_sample(X, y)

[print('Class {} has {} instances after oversampling'.format(label, count))
 for label, count in zip(*np.unique(y_resampled, return_counts=True))]

ImportError: A sklearn version of at least 0.19.0 is required to use imbalanced-learn. 0.18.1 was found. Please upgrade sklearn

In [133]:
total_train["label"].value_counts()

0    17200
1      916
Name: label, dtype: int64

In [134]:
total_train = total_train.sort_values(by = "label",ascending = False).head(6000)

In [135]:
total_train["label"].head()

4884    1
8458    1
936     1
8433    1
5579    1
Name: label, dtype: int64

In [136]:
total_train = total_train.drop( ['person','Unnamed: 0'],axis=1)

In [137]:
total_train.head()

,event_checkout,event_conversion,event_viewed product,model_Asus,model_LG,model_Lenovo,model_Motorola,model_Quantum,model_Samsung,model_Sony,...,Parte del dia_Tarde,storage_128GB,storage_16GB,storage_256GB,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB,label
4884,0.0,0.0,30.0,2.0,0.0,0.0,3.0,0.0,7.0,5.0,...,0.0,4.0,14.0,0.0,4.0,0.0,0.0,6.0,2.0,1
8458,2.0,0.0,66.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,6.0,0.0,48.0,0.0,8.0,0.0,0.0,12.0,0.0,1
936,0.0,0.0,17.0,0.0,0.0,1.0,0.0,0.0,7.0,0.0,...,17.0,0.0,0.0,6.0,6.0,0.0,0.0,5.0,0.0,1
8433,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,0.0,1
5579,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,11.0,4.0,0.0,5.0,0.0,0.0,20.0,0.0,1

In [138]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for column in total_train.columns:
    if total_train[column].dtype == type(object):
        total_train[column] = le.fit_transform(total_train[column].astype(str))

total_train.sample(5)

,event_checkout,event_conversion,event_viewed product,model_Asus,model_LG,model_Lenovo,model_Motorola,model_Quantum,model_Samsung,model_Sony,...,Parte del dia_Tarde,storage_128GB,storage_16GB,storage_256GB,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB,label
15436,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,6.0,1
16570,1.0,0.0,13.0,0.0,0.0,0.0,11.0,0.0,3.0,0.0,...,14.0,1.0,0.0,0.0,11.0,0.0,0.0,2.0,0.0,0
11028,1.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,...,10.0,0.0,2.0,0.0,8.0,0.0,0.0,0.0,0.0,0
16460,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0
16518,1.0,0.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,3.0,12.0,0.0,0.0,0.0,0.0,5.0,0.0,0

In [139]:
total_train.count()

event_checkout                  6000
event_conversion                6000
event_viewed product            6000
model_Asus                      6000
model_LG                        6000
model_Lenovo                    6000
model_Motorola                  6000
model_Quantum                   6000
model_Samsung                   6000
model_Sony                      6000
model_iPad                      6000
model_iPhone                    6000
condition_Bom                   6000
condition_Bom - Sem Touch ID    6000
condition_Excelente             6000
condition_Muito Bom             6000
condition_Novo                  6000
Parte del dia_Madrugada         6000
Parte del dia_Mañana            6000
Parte del dia_Noche             6000
Parte del dia_Tarde             6000
storage_128GB                   6000
storage_16GB                    6000
storage_256GB                   6000
storage_32GB                    6000
storage_4GB                     6000
storage_512MB                   6000
storage_64GB                    6000
storage_8GB                     6000
label                           6000
dtype: int64

In [140]:
total_train.head()

,event_checkout,event_conversion,event_viewed product,model_Asus,model_LG,model_Lenovo,model_Motorola,model_Quantum,model_Samsung,model_Sony,...,Parte del dia_Tarde,storage_128GB,storage_16GB,storage_256GB,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB,label
4884,0.0,0.0,30.0,2.0,0.0,0.0,3.0,0.0,7.0,5.0,...,0.0,4.0,14.0,0.0,4.0,0.0,0.0,6.0,2.0,1
8458,2.0,0.0,66.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,6.0,0.0,48.0,0.0,8.0,0.0,0.0,12.0,0.0,1
936,0.0,0.0,17.0,0.0,0.0,1.0,0.0,0.0,7.0,0.0,...,17.0,0.0,0.0,6.0,6.0,0.0,0.0,5.0,0.0,1
8433,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,0.0,1
5579,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,11.0,4.0,0.0,5.0,0.0,0.0,20.0,0.0,1

In [141]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(total_train.drop(['label'], axis=1).values, total_train['label'], test_size=0.30, random_state=75)

In [142]:
clf = GaussianNB()

In [143]:
clf.fit(X_train, y_train)

GaussianNB(priors=None)

In [94]:
#Para guardar el modelo en un archivo
from sklearn.externals import joblib
joblib.dump(clf, 'GaussianNBFinal.pkl')

['GaussianNBFinal.pkl']

In [2]:
#Para cargar el modelo
from sklearn.externals import joblib
clf = joblib.load('GaussianNBFinal.pkl')

In [144]:
clf.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

In [145]:
#Pruebo el score para ver si realiza overfitting
clf.score(X_test,y_test)

0.8138888888888889

In [146]:
test = pd.read_csv('../setUsersTest19122.csv')

In [147]:
test.head()

,Unnamed: 0,person,event_checkout,event_conversion,event_viewed product,model_Asus,model_LG,model_Lenovo,model_Motorola,model_Quantum,...,Parte del dia_Noche,Parte del dia_Tarde,storage_128GB,storage_16GB,storage_256GB,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB
0,0,00091926,2.0,0.0,372.0,0.0,2.0,1.0,55.0,0.0,...,200.0,0.0,48.0,104.0,10.0,132.0,0.0,0.0,80.0,0.0
1,1,00091a7a,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2,000ba417,6.0,1.0,153.0,0.0,4.0,0.0,37.0,0.0,...,31.0,93.0,0.0,115.0,1.0,20.0,1.0,0.0,1.0,22.0
3,3,000e4d9e,1.0,0.0,339.0,0.0,1.0,0.0,2.0,0.0,...,198.0,123.0,1.0,108.0,1.0,209.0,0.0,0.0,21.0,0.0
4,4,000e619d,1.0,0.0,28.0,0.0,3.0,0.0,7.0,0.0,...,26.0,3.0,0.0,8.0,1.0,11.0,0.0,0.0,3.0,6.0

In [148]:
person = test["person"]

In [149]:
le = preprocessing.LabelEncoder()
for column in test.columns:
    if test[column].dtype == type(object):
        test[column] = le.fit_transform(test[column].astype(str))

In [150]:
test.head()

,Unnamed: 0,person,event_checkout,event_conversion,event_viewed product,model_Asus,model_LG,model_Lenovo,model_Motorola,model_Quantum,...,Parte del dia_Noche,Parte del dia_Tarde,storage_128GB,storage_16GB,storage_256GB,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB
0,0,0,2.0,0.0,372.0,0.0,2.0,1.0,55.0,0.0,...,200.0,0.0,48.0,104.0,10.0,132.0,0.0,0.0,80.0,0.0
1,1,1,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2,2,6.0,1.0,153.0,0.0,4.0,0.0,37.0,0.0,...,31.0,93.0,0.0,115.0,1.0,20.0,1.0,0.0,1.0,22.0
3,3,3,1.0,0.0,339.0,0.0,1.0,0.0,2.0,0.0,...,198.0,123.0,1.0,108.0,1.0,209.0,0.0,0.0,21.0,0.0
4,4,4,1.0,0.0,28.0,0.0,3.0,0.0,7.0,0.0,...,26.0,3.0,0.0,8.0,1.0,11.0,0.0,0.0,3.0,6.0

In [151]:
test = test.drop(['person','Unnamed: 0'],axis=1)

In [152]:
test.head()

,event_checkout,event_conversion,event_viewed product,model_Asus,model_LG,model_Lenovo,model_Motorola,model_Quantum,model_Samsung,model_Sony,...,Parte del dia_Noche,Parte del dia_Tarde,storage_128GB,storage_16GB,storage_256GB,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB
0,2.0,0.0,372.0,0.0,2.0,1.0,55.0,0.0,61.0,1.0,...,200.0,0.0,48.0,104.0,10.0,132.0,0.0,0.0,80.0,0.0
1,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,6.0,1.0,153.0,0.0,4.0,0.0,37.0,0.0,110.0,1.0,...,31.0,93.0,0.0,115.0,1.0,20.0,1.0,0.0,1.0,22.0
3,1.0,0.0,339.0,0.0,1.0,0.0,2.0,0.0,301.0,15.0,...,198.0,123.0,1.0,108.0,1.0,209.0,0.0,0.0,21.0,0.0
4,1.0,0.0,28.0,0.0,3.0,0.0,7.0,0.0,12.0,0.0,...,26.0,3.0,0.0,8.0,1.0,11.0,0.0,0.0,3.0,6.0

In [153]:
result = clf.predict_proba(test)

In [154]:
    result2 = []
    for elem in result:
        result2.append(elem[1])

In [155]:
person = person.to_frame()

In [156]:
person['label'] = result2

In [157]:
person.head()

     person     label
0  00091926  1.000000
1  00091a7a  0.000033
2  000ba417  0.999474
3  000e4d9e  1.000000
4  000e619d  0.000062

In [158]:
kaggle = pd.read_csv('../data/trocafone_kaggle_test.csv')

In [159]:
kaggle.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [160]:
resultado = pd.merge(kaggle,person,on="person",how = "left")

In [161]:
resultado.head()

     person     label
0  4886f805  0.000030
1  0297fc1e  1.000000
2  2d681dd8  0.000036
3  cccea85e  1.000000
4  4c8a8b93  0.987537

In [162]:
resultado["label"].isnull().value_counts()

False    19122
True       293
Name: label, dtype: int64

In [163]:
resultado["label"] = resultado["label"].fillna(0)

In [164]:
(resultado["label"]<0.5).value_counts()

True     17809
False     1606
Name: label, dtype: int64

In [165]:
resultado.to_csv('resultadoGaussian2.csv', index=False)

In [84]:
postulations_known = pd.read_csv('../test/postulationsDesp15Abril.csv')

In [85]:
postulations_known.head()

      idaviso idpostulante     fechapostulacion  Mayor15Abril
0  1112461697         Ez8J  2018-04-17 08:00:04          True
1  1112463023       Y0Gmvr  2018-04-16 14:19:30          True
2  1112213212       a6AG60  2018-04-17 09:22:09          True
3  1112223876       a6AG60  2018-04-17 09:22:39          True
4  1112423240       a6AG60  2018-04-17 09:23:26          True

In [86]:
postulations_known['sepostulo'] = 1.0

In [87]:
test = test.merge(postulations_known, how='left', on=['idaviso','idpostulante'])

In [88]:
test.head()

,idaviso,idpostulante,id,postulantes,cantPostulaciones,cantVistas,edadPostulante,sepostulo_x,fechapostulacion,Mayor15Abril,sepostulo_y
0,17903700,RzrDJlZ,595,0.007018,0.046512,0.015385,0.268817,1.0,NaN,NaN,NaN
1,17903700,Yj5q3xX,594,0.007018,0.011628,0.061538,0.301075,1.0,2018-04-16 10:14:08,True,1.0
2,1000139175,LNKrDLr,609,0.008772,0.003876,0.030769,0.268817,1.0,2018-04-16 09:32:39,True,1.0
3,1000139175,exv4B8,610,0.008772,0.062016,0.030769,0.236559,1.0,2018-04-16 09:36:57,True,1.0
4,1000468151,jkMko3r,637,0.005263,0.003876,0.015385,0.387097,1.0,2018-04-16 06:32:53,True,1.0

In [89]:
test = test.drop(['Mayor15Abril','fechapostulacion'], axis=1)

In [90]:
test["sepostulo"] = test.apply(lambda row: row["sepostulo_x"] if (np.isnan(row["sepostulo_y"])) else row["sepostulo_y"],axis=1)

In [91]:
test.head()

,idaviso,idpostulante,id,postulantes,cantPostulaciones,cantVistas,edadPostulante,sepostulo_x,sepostulo_y,sepostulo
0,17903700,RzrDJlZ,595,0.007018,0.046512,0.015385,0.268817,1.0,NaN,1.0
1,17903700,Yj5q3xX,594,0.007018,0.011628,0.061538,0.301075,1.0,1.0,1.0
2,1000139175,LNKrDLr,609,0.008772,0.003876,0.030769,0.268817,1.0,1.0,1.0
3,1000139175,exv4B8,610,0.008772,0.062016,0.030769,0.236559,1.0,1.0,1.0
4,1000468151,jkMko3r,637,0.005263,0.003876,0.015385,0.387097,1.0,1.0,1.0

In [92]:
test['sepostulo'].isnull().value_counts()

False    100000
Name: sepostulo, dtype: int64

In [93]:
test = test.sort_values(by='id')

In [95]:
test['sepostulo'].mean()

0.5189406755765587

In [96]:
test.count()

idaviso              100000
idpostulante         100000
id                   100000
postulantes          100000
cantPostulaciones    100000
cantVistas           100000
edadPostulante       100000
sepostulo_x          100000
sepostulo_y           34462
sepostulo            100000
dtype: int64

In [97]:
test = test[['id','sepostulo']]

In [98]:
test.head()

       id     sepostulo
34161   0  2.125542e-07
34162   1  6.797200e-05
34163   2  7.271760e-06
34164   3  2.741398e-19
34165   4  4.576979e-05

In [99]:
test.to_csv('../GaussianNB6MmoreFeatures.csv', index=False)