# SVM

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.util import hash_pandas_object
from sklearn import svm

%matplotlib inline

In [ ]:
postulations = pd.read_csv('../MapDataAnalysis/SVC/postulaciones_nopostulacionesRedCodificado1.5M.csv')

In [4]:
postulations.head()

,Unnamed: 0,idaviso,idpostulante,nombre_area,nombre_sort,se_postulo,titulo,estadoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,edadEncoded,zonaEncoded
0,0,1112439027,Nz06E1z,Seguridad,1.0,1,Vigilador General con CLU (TURNO NOCTURNO) - V...,1,0,0,1,3.0,0.0
1,1,1112033906,aEWKPN,Ventas,1.0,1,Cajero/a-Repositor/a (Capital Federal),1,0,0,0,4.0,0.0
2,2,1112377084,4rPOLLR,Recepcionista,2.0,1,RECEPCIONISTA,2,0,1,0,3.0,NaN
3,3,1112339832,8MPYLND,Producción,2.0,1,Operarios de depósito,1,0,0,2,3.0,0.0
4,4,1112416123,wVk6zNd,Secretaria,3.0,1,Secretaria - Part Time / Turno Tarde,0,1,0,0,0.0,0.0

In [6]:
postulations =postulations.drop(columns = ['idaviso','idpostulante','Unnamed: 0'])

In [7]:
postulations.head()

,nombre_area,nombre_sort,se_postulo,titulo,estadoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,edadEncoded,zonaEncoded
0,Seguridad,1.0,1,Vigilador General con CLU (TURNO NOCTURNO) - V...,1,0,0,1,3.0,0.0
1,Ventas,1.0,1,Cajero/a-Repositor/a (Capital Federal),1,0,0,0,4.0,0.0
2,Recepcionista,2.0,1,RECEPCIONISTA,2,0,1,0,3.0,NaN
3,Producción,2.0,1,Operarios de depósito,1,0,0,2,3.0,0.0
4,Secretaria,3.0,1,Secretaria - Part Time / Turno Tarde,0,1,0,0,0.0,0.0

In [8]:
postulations['zonaEncoded'] = postulations['zonaEncoded'].fillna(method = 'bfill')

In [9]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for column in postulations.columns:
    if postulations[column].dtype == type(object):
        postulations[column] = le.fit_transform(postulations[column].astype(str))

postulations.sample(5)

,nombre_area,nombre_sort,se_postulo,titulo,estadoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,edadEncoded,zonaEncoded
5513151,182,1.0,0,13408,1,0,0,0,4.0,0.0
4796555,182,1.0,0,13408,1,0,0,1,3.0,0.0
5760872,182,3.0,0,13408,2,0,0,1,4.0,0.0
923101,0,3.0,1,12348,1,0,0,0,3.0,0.0
4175548,182,1.0,0,13408,1,0,0,0,3.0,0.0

In [10]:
postulations = postulations.drop(['nombre_area','titulo'], axis=1)

In [ ]:
#Normalizamos los valores
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(postulations) 
total_train.loc[:,:] = scaled_values

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(postulations.drop(['se_postulo'], axis=1).values, postulations['se_postulo'], test_size=0.20, random_state=75)

In [ ]:
clf = svm.SVC(probability=True, kernel='sigmoid')
clf.fit(X_train, y_train)

In [ ]:
clf.predict(X_test)

In [ ]:
#Pruebo el score para ver si realiza overfitting
clf.score(X_test,y_test)

In [ ]:
test = pd.read_csv('../MapDataAnalysis/test_encoded.csv')

In [ ]:
test['zonaEncoded'] = test['zonaEncoded'].fillna(method = 'bfill')

In [ ]:
test = test.drop(['idaviso','idpostulante'],axis=1)

In [ ]:
#Normalizamos los valores
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(test.drop(columns = ['id'])) 
test.loc[:,1:] = scaled_values

In [ ]:
test.head()

In [ ]:
result = clf.predict_proba(test.drop(['id'],axis = 1))

In [ ]:
result2 = []
for elem in result:
    result2.append(elem[1])

In [ ]:
test['sepostulo'] = result2

In [ ]:
test = test[['id','sepostulo']]

In [ ]:
test.head()

In [ ]:
test.to_csv('../Predictions/SVM1v3M.csv', index=False)