In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [15]:
eventsData = pd.read_csv(r"C:\Users\brian\Documents\GitHub\TP2DATOS\Eventos(+completo).csv",low_memory = False)

In [16]:
staticPageData = pd.DataFrame({'cantidadDeStaticPage' :eventsData.groupby(['person','staticpage']).size()})
staticPageData.reset_index(inplace = True)
staticPageData = staticPageData.groupby('person').agg({'cantidadDeStaticPage':'sum'}).reset_index()
staticPageData

        person  cantidadDeStaticPage
0     0027574e                     1
1     002ed810                     2
2     0038a117                    12
3     004ed8ba                     1
4     00546f4c                     6
5     006fc943                     2
6     00868d8e                     1
7     009944e1                     3
8     009f8292                     5
9     00b5303d                     1
10    00c955ce                     2
11    00cd1373                     1
12    00fa4cd7                     1
13    010b0b0b                     1
14    011beb42                     3
15    016b86b9                    14
16    01798556                     1
17    018598e8                     1
18    01a5aa29                     2
19    01af6573                     4
20    01b09758                     6
21    01f24fc9                     1
22    0204dcec                     2
23    02103564                     4
24    0211eed9                     3
25    0228c93a                     5
26    02298b4a                     8
27    022b69a7                    11
28    022c083c                     1
29    024b9c24                     2
...        ...                   ...
4024  fe719c03                     3
4025  fe73556d                     1
4026  fe75f35a                     1
4027  fe763bc1                     6
4028  fe90cc76                     2
4029  fe9bcb67                     1
4030  febfbe81                     1
4031  fec8e6e1                     1
4032  fecbb67d                     1
4033  fee6cf0f                     1
4034  ff20bb3c                     1
4035  ff277a45                     4
4036  ff28a233                     1
4037  ff35c949                     1
4038  ff3b5ff0                     6
4039  ff406fa9                     3
4040  ff415840                     7
4041  ff4d8b36                     1
4042  ff51027d                     1
4043  ff694371                     1
4044  ff705ce5                    24
4045  ff9da79b                     1
4046  ff9fc164                     1
4047  ffae1445                     1
4048  ffb598de                     1
4049  ffc0f2a0                     1
4050  ffcf952b                     1
4051  ffd62616                    11
4052  ffde3628                     7
4053  fff72025                     3

[4054 rows x 2 columns]

In [17]:
#No funciono
auxiliar = pd.DataFrame({'cantidad_de_Url_de_compra' :eventsData.groupby(['person','url']).size()})
auxiliar = auxiliar.reset_index()
auxiliar["url"] = auxiliar['url'].map(lambda x: x.split('/')[1])
auxiliar = auxiliar.groupby('person').agg({'cantidad_de_Url_de_compra':'sum'}).reset_index()
auxiliar

         person  cantidad_de_Url_de_compra
0      00091926                         15
1      00091a7a                          1
2      000ba417                          1
3      000c79fe                          1
4      000e4d9e                         19
5      000e619d                          6
6      0010e89a                          1
7      0016c4b5                          1
8      001802e4                          5
9      0019e639                         29
10     001a2273                          4
11     001ca5ee                          7
12     001dfc31                          5
13     001e9aea                         13
14     0020152e                          2
15     00202cdb                         10
16     0022965d                         48
17     00295d74                          4
18     002aea56                         14
19     002b0188                          2
20     002fb981                          6
21     00317e49                          2
22     00344873                          1
23     003476c0                          6
24     003847fc                         23
25     0038a117                          9
26     003a7d49                          1
27     003d4cac                          2
28     003e7507                          1
29     00408349                          6
...         ...                        ...
31866  ffbb90a9                          1
31867  ffbfc511                          1
31868  ffc0f2a0                         14
31869  ffc51f07                          1
31870  ffc670b3                          6
31871  ffcaeaae                          4
31872  ffccd5a1                          3
31873  ffcf952b                          8
31874  ffd41214                          9
31875  ffd62616                         11
31876  ffda14ca                          1
31877  ffdafc72                          3
31878  ffde3628                          5
31879  ffe066cc                          3
31880  ffe53446                          4
31881  ffe7e848                          6
31882  ffeb80c5                          2
31883  ffebdbc9                          1
31884  ffecdf29                          3
31885  ffecea3d                          1
31886  ffed0342                          5
31887  ffed3d0e                          2
31888  ffee0f18                        100
31889  ffef83e6                          4
31890  fff1659c                          9
31891  fff1caee                          1
31892  fff2bdde                          2
31893  fff72025                          7
31894  fff78145                          2
31895  fffd1246                          1

[31896 rows x 2 columns]

In [18]:
#No aporta mucho
searchData = pd.DataFrame({'Cantidad_De_Busquedas_Por_Termino' :eventsData.groupby(['search_term','person','event']).size()})
searchData = searchData.sort_values(by ='Cantidad_De_Busquedas_Por_Termino',ascending= False )
searchData.reset_index(inplace = True)
searchData.set_index('person',inplace = True)
searchData = searchData.drop('event',axis=1)
searchData.reset_index(inplace=True)
searchData['person'].count()

43674

In [19]:
#No aporta mucho
conversionData = eventsData[eventsData['event'].map(lambda x: ( x== 'conversion'))]
conversionData.set_index('person', inplace = True)
conversionData = conversionData.loc[:,['model','condition']]
conversionData

                                        model           condition
person
49c19e32                            iphone 5c                 Bom
49c19e32                            iphone 5c                 Bom
39df97e0           samsung galaxy j2 prime tv           Excelente
380c0e60                samsung galaxy note 5           Muito Bom
35ee0cc8               samsung galaxy a5 2017                 Bom
c5a0bc36         samsung galaxy j7 2016 metal           Muito Bom
6f0826b2                            iphone 6s                 Bom
576d1af6                    samsung galaxy s5                 Bom
04b13fd2                motorola moto g5 plus           Excelente
bf15584a                            iphone 6s           Muito Bom
8a4b69ec                        iphone 6 plus           Excelente
ba83de34         samsung galaxy j2 4g duos tv           Muito Bom
f64d2771    samsung galaxy gran prime duos tv                 Bom
aafb01b8               samsung galaxy a7 2017           Muito Bom
f88200f4               samsung galaxy s6 edge                 Bom
3043e183                            iphone 5c                 Bom
35ee0cc8               samsung galaxy a5 2017                 Bom
f008fa79                            iphone 5c                 Bom
2a617e51               samsung galaxy s6 flat                 Bom
8e442787            motorola moto g4 play dtv           Excelente
8a0e24c0                            iphone 5s  Bom - Sem Touch ID
23f11762                          lg k10 novo           Muito Bom
8a0e24c0                            iphone 5s  Bom - Sem Touch ID
d96c40d3              samsung galaxy j5 prime                 Bom
8eb9c436                    samsung galaxy j5                 Bom
53c81963                            iphone 6s                 Bom
7fb6d411               samsung galaxy a5 2017           Muito Bom
8eb9c436                    samsung galaxy j5                 Bom
8eb9c436                    samsung galaxy j5                 Bom
53c81963                            iphone 6s                 Bom
...                                       ...                 ...
51cbc081          samsung galaxy s6 edge plus           Muito Bom
87019076               samsung galaxy s7 edge           Excelente
5059f7fd                    samsung galaxy j5           Muito Bom
5059f7fd              samsung galaxy j7 prime           Muito Bom
5059f7fd           samsung galaxy j2 prime tv           Muito Bom
5059f7fd           samsung galaxy j2 prime tv           Muito Bom
82f63078    samsung galaxy gran prime duos tv           Excelente
945c5a1b          samsung galaxy s5 mini duos           Muito Bom
bbe27ed9              samsung galaxy s4 i9515           Excelente
5059f7fd    samsung galaxy gran prime duos tv                 Bom
5059f7fd    samsung galaxy gran prime duos tv                 Bom
5059f7fd        samsung galaxy gran 2 duos tv                 Bom
499bf552                    motorola moto g5            Excelente
5059f7fd                    samsung galaxy j5           Muito Bom
5059f7fd                    samsung galaxy j7                 Bom
5059f7fd                    samsung galaxy j5           Muito Bom
5059f7fd                    samsung galaxy j7           Muito Bom
5059f7fd                    samsung galaxy j5           Muito Bom
5059f7fd                    samsung galaxy j5           Muito Bom
5059f7fd                    samsung galaxy j5           Muito Bom
a532a985  samsung galaxy s5 new edition duos            Muito Bom
55bb3e62               samsung galaxy a3 2016                 Bom
55bb3e62               samsung galaxy a3 2016                 Bom
f379e1e6                            iphone 5s                 Bom
4a635360                       iphone 6s plus           Excelente
5059f7fd              samsung galaxy j5 prime           Excelente
c591df84               samsung galaxy s7 edge           Excelente
eb346dd8                            iphone 5c                 Bom
5059f7fd                    samsung galaxy j5           Muito Bom
8af335dd    samsung galaxy gran prime 3g duos           Muito Bom

[7091 rows x 2 columns]

In [20]:
#No sirvio
dataF = pd.DataFrame({'cantidad_de_Url_de_compra' :eventsData.groupby(['person','skus']).size()})
dataF = dataF.reset_index()
dataF['sku_multiple']= dataF['skus'].map(lambda x: len(x.split(',')))
dataF = dataF.groupby('person').agg({'sku_multiple':'sum'}).reset_index()
dataF

         person  sku_multiple
0      0008ed71            12
1      00091926           106
2      00091a7a            24
3      000ba417           232
4      000c79fe            79
5      000e4d9e           117
6      000e619d           146
7      001001be            48
8      001802e4            24
9      0019e639           608
10     001a2273            24
11     001b0bf9            24
12     001ca5ee           127
13     001dfc31            12
14     001e9aea            24
15     0022965d           276
16     0027574e           266
17     00295d74            12
18     002aea56           384
19     002b0188            99
20     002e74b2            24
21     002ed810            92
22     002fb981            72
23     00317e49            12
24     0031c75f           125
25     003476c0           131
26     003847fc            57
27     0038a117           815
28     003a05bf            98
29     003a7d49            48
...         ...           ...
29873  ffb4618c            12
29874  ffb598de            27
29875  ffb7c1a6           214
29876  ffba4aec            36
29877  ffc0f2a0           201
29878  ffc51f07           355
29879  ffc670b3           273
29880  ffcaae19            12
29881  ffcaeaae            24
29882  ffccd5a1            46
29883  ffcf952b            96
29884  ffd41214            44
29885  ffd62616           296
29886  ffd9756a            36
29887  ffdafc72            12
29888  ffddd0ec           108
29889  ffde3628           129
29890  ffe066cc           145
29891  ffe53446           226
29892  ffe7e848           154
29893  ffebdbc9            12
29894  ffed0342           431
29895  ffed3d0e            12
29896  ffee0f18          8029
29897  ffef83e6           201
29898  fff1659c           111
29899  fff2bdde            90
29900  fff72025           158
29901  fff78145            53
29902  fffd1246            12

[29903 rows x 2 columns]

In [21]:
#Aumento en 2%
dataSearchAndSelling = pd.merge(searchData,conversionData,on="person",how="inner")
dataSearchAndSelling
dataSearchAndSelling["model"] = dataSearchAndSelling["model"].fillna("Desconocido")
dataSearchAndSelling["marca"] = dataSearchAndSelling["model"].map(lambda x:"apple" if(x.split(" ")[0] in ["iphone","ipad"]) else x.split(" ")[0])
dataSearchAndSelling["search_term"] = dataSearchAndSelling['search_term'].map(lambda x: 'samsung' if x.split(" ")[0].lower() in ['s6','s8','s7','samsung'] else x.split(' ')[0])
dataSearchAndSelling["search_term"] = dataSearchAndSelling['search_term'].map(lambda x: 'motorola' if x.split(" ")[0].lower() in ['motorola','moto'] else x.split(' ')[0])
dataSearchAndSelling["search_term"] = dataSearchAndSelling['search_term'].map(lambda x: 'iphone' if x.split(" ")[0].lower() in ['iphone'] else x.split(' ')[0])
dataSearchAndSelling['search_and_purchase'] = dataSearchAndSelling['search_term']==(dataSearchAndSelling['marca'])
dataSearchAndSelling["search_and_purchase"] = dataSearchAndSelling['search_and_purchase'].map(lambda x: 1 if x == True else 0)
dataSearchAndSelling = dataSearchAndSelling.drop(['search_term','condition','model','marca'],axis = 1)
dataSearchAndSelling = dataSearchAndSelling.groupby('person').agg({'Cantidad_De_Busquedas_Por_Termino':'sum', 'search_and_purchase':'sum'}).reset_index()
dataSearchAndSelling

        person  Cantidad_De_Busquedas_Por_Termino  search_and_purchase
0     001001be                                 16                    0
1     0019e639                                 22                    1
2     002aea56                                  4                    0
3     002ed810                                  4                    0
4     0038a117                                 11                    0
5     0043a48e                                  9                    3
6     004ed8ba                                  7                    1
7     00546f4c                                564                    8
8     00750af8                                 12                    1
9     0076b7dc                                 21                    0
10    00caa482                                128                    0
11    00cd1373                                 76                    0
12    00ecfd1a                                  5                    1
13    00fa4cd7                                 50                   16
14    01039bf1                                  2                    1
15    010b0b0b                                 14                    0
16    011beb42                                 11                    0
17    016b86b9                                235                   16
18    018598e8                                  1                    0
19    01ada784                                  2                    2
20    01b09758                                  2                    0
21    0211eed9                                  4                    0
22    0233c7ed                                  1                    0
23    027870af                                 10                    1
24    027b809f                                 13                    1
25    0280a93d                                 96                   32
26    02a9fd4c                                  2                    0
27    02c30caa                                  7                    1
28    02dd38ce                                 25                    4
29    02e465f4                                  7                    1
...        ...                                ...                  ...
2301  fcc93318                                 37                    2
2302  fcd9d93a                                 80                    0
2303  fcdb2bde                                  2                    1
2304  fcead3d1                                148                    0
2305  fd03865c                                  9                    0
2306  fd4ac161                                 12                    3
2307  fd640a51                                  2                    1
2308  fd683087                                  7                    1
2309  fd8515fe                                  1                    0
2310  fd99672e                                  1                    0
2311  fda773f4                                 26                    0
2312  fda8077a                                 41                    0
2313  fdb0a223                                 96                    6
2314  fdbb770e                                  9                    0
2315  fe155eaf                                  3                    0
2316  fe2df59e                                  5                    0
2317  fe4029d3                                102                   28
2318  fe542b35                                  3                    0
2319  febfbe81                                  2                    0
2320  fec57275                                  4                    0
2321  fed81014                                143                    0
2322  ff28a233                                184                    7
2323  ff415840                                  6                    0
2324  ff705ce5                                 10                    0
2325  ff89d18f                                  8                    0
2326  ffc670b3                                  4                    0
2327  ffe53446                                 50                    0
2328  ffed0342                                  5                    2
2329  fff2bdde                                  4                    0
2330  fff72025                                  8                    0

[2331 rows x 3 columns]

In [22]:
eventsData = eventsData.drop("Unnamed: 0", axis=1)

In [23]:
#Aporto poco
skuData = pd.DataFrame({'cantidad_De_Compras_De_Mismo_Sku' :eventsData.groupby(['sku','event','person']).size()})
skuData = skuData.reset_index()
skuData = skuData[skuData['event'].map(lambda x: ( x== 'conversion'))]
skuData = skuData.drop(['event'],axis=1)
skuData = skuData.groupby('person').agg({'sku':'first', 'cantidad_De_Compras_De_Mismo_Sku':'sum' }).reset_index()

In [24]:
geoData = eventsData[["person","event","city","region","country"]]

In [26]:
deviceUsersData = eventsData[["person","browser_version","operating_system_version","screen_resolution","device_type"]]

In [25]:
productData = eventsData[["person","event","sku","model","condition","storage","skus"]]

In [32]:
infoUserData = eventsData[["person","timestamp","search_term","staticpage","campaign_source","search_engine","channel","new_vs_returning"]]

In [33]:
timeData = eventsData[["person","timestamp","Parte del dia","event"]]

In [34]:
personColor = eventsData[["person","event","color"]]

Busco crear nuevo features

temporales

In [35]:
timeData.head()

     person            timestamp Parte del dia           event
0  4886f805  2018-05-18 00:11:59         Noche  viewed product
1  ad93850f  2018-05-18 00:11:27         Noche  viewed product
2  0297fc1e  2018-05-18 00:11:16         Noche  viewed product
3  2d681dd8  2018-05-18 00:11:14         Noche  viewed product
4  cccea85e  2018-05-18 00:11:09         Noche  viewed product

In [36]:
users_partedeldia = timeData[["person","Parte del dia"]]

In [37]:
users_partedeldia = pd.get_dummies(users_partedeldia, columns=["Parte del dia"])

In [38]:
users_partedeldia = users_partedeldia.groupby("person",as_index = False).sum()

In [39]:
#Funcion que pasa a formato datetime las fechas que recibimos.
def datetime(date,format_string):
    return pd.to_datetime(date,format= format_string,errors='coerce')

timeData["timestamp"]= datetime(timeData["timestamp"],"%Y-%m-%dT%H:%M:%S")

type(timeData["timestamp"][0])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

pandas._libs.tslibs.timestamps.Timestamp

In [40]:
timeData["year"] = timeData["timestamp"].map(lambda x: x.year)
timeData["month"] = timeData["timestamp"].map(lambda x: x.month)
timeData["day"] = timeData["timestamp"].map(lambda x: x.day)
timeData["hour"] = timeData["timestamp"].map(lambda x: x.hour)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [41]:
last_15days = timeData[["person","event","month","day"]]

In [42]:

last_15days.head()

     person           event  month  day
0  4886f805  viewed product      5   18
1  ad93850f  viewed product      5   18
2  0297fc1e  viewed product      5   18
3  2d681dd8  viewed product      5   18
4  cccea85e  viewed product      5   18

In [43]:
last_15days = last_15days[last_15days["month"] == 5]

In [44]:
last_15days = last_15days[last_15days["day"] > 14]
last_15days = last_15days[["person","event"]]
last_15days.head()

     person           event
0  4886f805  viewed product
1  ad93850f  viewed product
2  0297fc1e  viewed product
3  2d681dd8  viewed product
4  cccea85e  viewed product

In [45]:
last_15days["count_activity"] = 1

In [46]:
last_15days = pd.get_dummies(last_15days, columns=["event"])
last_15days.head()

,person,count_activity,event_ad campaign hit,event_brand listing,event_checkout,event_conversion,event_generic listing,event_lead,event_search engine hit,event_searched products,event_staticpage,event_viewed product,event_visited site
0,4886f805,1,0,0,0,0,0,0,0,0,0,1,0
1,ad93850f,1,0,0,0,0,0,0,0,0,0,1,0
2,0297fc1e,1,0,0,0,0,0,0,0,0,0,1,0
3,2d681dd8,1,0,0,0,0,0,0,0,0,0,1,0
4,cccea85e,1,0,0,0,0,0,0,0,0,0,1,0

In [47]:
last_15days = last_15days.groupby("person",as_index=False).sum()
last_15days = last_15days[["person","count_activity","event_conversion","event_checkout","event_viewed product"]]
last_15days.head()

,person,count_activity,event_conversion,event_checkout,event_viewed product
0,0008ed71,6,0.0,3.0,0.0
1,00091926,283,0.0,2.0,250.0
2,000ba417,206,1.0,6.0,153.0
3,000c79fe,17,0.0,1.0,3.0
4,000e4d9e,411,0.0,1.0,339.0

In [48]:
last_15days.columns = ["person","count_activity","conversiones_15lastdays","checkout_15lastdays","viewed_15lastday"]
last_15days.head()

,person,count_activity,conversiones_15lastdays,checkout_15lastdays,viewed_15lastday
0,0008ed71,6,0.0,3.0,0.0
1,00091926,283,0.0,2.0,250.0
2,000ba417,206,1.0,6.0,153.0
3,000c79fe,17,0.0,1.0,3.0
4,000e4d9e,411,0.0,1.0,339.0

In [49]:
timeData.head()

,person,timestamp,Parte del dia,event,year,month,day,hour
0,4886f805,2018-05-18 00:11:59,Noche,viewed product,2018,5,18,0
1,ad93850f,2018-05-18 00:11:27,Noche,viewed product,2018,5,18,0
2,0297fc1e,2018-05-18 00:11:16,Noche,viewed product,2018,5,18,0
3,2d681dd8,2018-05-18 00:11:14,Noche,viewed product,2018,5,18,0
4,cccea85e,2018-05-18 00:11:09,Noche,viewed product,2018,5,18,0

In [50]:
timeData["minute"] = timeData["timestamp"].map(lambda x: x.minute)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [51]:
timeData.head()

,person,timestamp,Parte del dia,event,year,month,day,hour,minute
0,4886f805,2018-05-18 00:11:59,Noche,viewed product,2018,5,18,0,11
1,ad93850f,2018-05-18 00:11:27,Noche,viewed product,2018,5,18,0,11
2,0297fc1e,2018-05-18 00:11:16,Noche,viewed product,2018,5,18,0,11
3,2d681dd8,2018-05-18 00:11:14,Noche,viewed product,2018,5,18,0,11
4,cccea85e,2018-05-18 00:11:09,Noche,viewed product,2018,5,18,0,11

In [52]:
timeData["year"].value_counts()

2018    2341681
Name: year, dtype: int64

In [53]:
timeData = timeData.drop("year",axis = 1)

In [54]:
timeData = pd.get_dummies(timeData, columns=["event"])
timeData.head()

,person,timestamp,Parte del dia,month,day,hour,minute,event_ad campaign hit,event_brand listing,event_checkout,event_conversion,event_generic listing,event_lead,event_search engine hit,event_searched products,event_staticpage,event_viewed product,event_visited site
0,4886f805,2018-05-18 00:11:59,Noche,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
1,ad93850f,2018-05-18 00:11:27,Noche,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
2,0297fc1e,2018-05-18 00:11:16,Noche,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
3,2d681dd8,2018-05-18 00:11:14,Noche,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
4,cccea85e,2018-05-18 00:11:09,Noche,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0

In [55]:
timeData = timeData.drop(["timestamp","Parte del dia"], axis=1)

In [56]:
timeData.head()

,person,month,day,hour,minute,event_ad campaign hit,event_brand listing,event_checkout,event_conversion,event_generic listing,event_lead,event_search engine hit,event_searched products,event_staticpage,event_viewed product,event_visited site
0,4886f805,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
1,ad93850f,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
2,0297fc1e,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
3,2d681dd8,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
4,cccea85e,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0

In [57]:
timeData = timeData.drop("minute",axis=1)

In [58]:
secionesUsuarios = timeData.groupby(["person","month","day","hour"]).sum()

In [59]:
secionesUsuarios["cant_seciones"] = 1

In [60]:
secionesUsuarios.head()

                         event_ad campaign hit  event_brand listing  \
person   month day hour
0008ed71 5     17  12                      0.0                  0.0
                   13                      0.0                  0.0
                   16                      0.0                  0.0
00091926 5     3   22                      0.0                  0.0
               5   3                       0.0                  0.0

                         event_checkout  event_conversion  \
person   month day hour
0008ed71 5     17  12               1.0               0.0
                   13               1.0               0.0
                   16               1.0               0.0
00091926 5     3   22               0.0               0.0
               5   3                0.0               0.0

                         event_generic listing  event_lead  \
person   month day hour
0008ed71 5     17  12                      0.0         0.0
                   13                      0.0         0.0
                   16                      1.0         0.0
00091926 5     3   22                      0.0         0.0
               5   3                       0.0         0.0

                         event_search engine hit  event_searched products  \
person   month day hour
0008ed71 5     17  12                        0.0                      0.0
                   13                        0.0                      0.0
                   16                        0.0                      0.0
00091926 5     3   22                        0.0                      0.0
               5   3                         0.0                      0.0

                         event_staticpage  event_viewed product  \
person   month day hour
0008ed71 5     17  12                 0.0                   0.0
                   13                 0.0                   0.0
                   16                 0.0                   0.0
00091926 5     3   22                 0.0                   6.0
               5   3                  0.0                   5.0

                         event_visited site  cant_seciones
person   month day hour
0008ed71 5     17  12                   0.0              1
                   13                   1.0              1
                   16                   1.0              1
00091926 5     3   22                   1.0              1
               5   3                    1.0              1

In [61]:
secionesUsuarios = secionesUsuarios[["cant_seciones","event_checkout","event_conversion","event_ad campaign hit","event_lead"]]
secionesUsuarios.head()

                         cant_seciones  event_checkout  event_conversion  \
person   month day hour
0008ed71 5     17  12                1             1.0               0.0
                   13                1             1.0               0.0
                   16                1             1.0               0.0
00091926 5     3   22                1             0.0               0.0
               5   3                 1             0.0               0.0

                         event_ad campaign hit  event_lead
person   month day hour
0008ed71 5     17  12                      0.0         0.0
                   13                      0.0         0.0
                   16                      0.0         0.0
00091926 5     3   22                      0.0         0.0
               5   3                       0.0         0.0

In [62]:
secionesUsuarios = secionesUsuarios.reset_index()

In [63]:
secionesUsuarios.head()

,person,month,day,hour,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead
0,0008ed71,5,17,12,1,1.0,0.0,0.0,0.0
1,0008ed71,5,17,13,1,1.0,0.0,0.0,0.0
2,0008ed71,5,17,16,1,1.0,0.0,0.0,0.0
3,00091926,5,3,22,1,0.0,0.0,0.0,0.0
4,00091926,5,5,3,1,0.0,0.0,0.0,0.0

In [64]:
secionesUsuarios = secionesUsuarios.drop(["day","hour","month"],axis=1)

In [65]:
secionesUsuarios = secionesUsuarios.groupby(["person"]).sum().fillna(0)

In [66]:
secionesUsuarios.head()

,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead
person,,,,,
0008ed71,3,3.0,0.0,0.0,0.0
00091926,37,2.0,0.0,15.0,0.0
00091a7a,1,0.0,0.0,1.0,0.0
000ba417,9,6.0,1.0,1.0,0.0
000c79fe,1,1.0,0.0,1.0,0.0

In [67]:
secionesUsuarios = secionesUsuarios.reset_index()

In [68]:
secionesUsuarios.columns

Index(['person', 'cant_seciones', 'event_checkout', 'event_conversion',
       'event_ad campaign hit', 'event_lead'],
      dtype='object')

In [69]:
secionesUsuarios.head()

,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead
0,0008ed71,3,3.0,0.0,0.0,0.0
1,00091926,37,2.0,0.0,15.0,0.0
2,00091a7a,1,0.0,0.0,1.0,0.0
3,000ba417,9,6.0,1.0,1.0,0.0
4,000c79fe,1,1.0,0.0,1.0,0.0

Por dispositivo que usa el usuario para entrar al sitio

In [70]:
deviceUsersData.head()

,person,browser_version,operating_system_version,screen_resolution,device_type
0,4886f805,Chrome Mobile 64.0,Android 7,360x640,Smartphone
1,ad93850f,Chrome Mobile 66.0,Android 5.1.1,360x640,Smartphone
2,0297fc1e,Chrome Mobile 61.0,Android 6.0.1,360x640,Smartphone
3,2d681dd8,Chrome 66.0,Windows 8.1,1360x768,Computer
4,cccea85e,Chrome 66.0,Windows 7,1536x864,Computer

In [71]:
deviceUsersData["operating_system_version"].map(lambda x: str(x).split(" ")[0]).value_counts()

Windows       1262240
Android        975740
iOS             73279
Mac             10206
Linux            9456
Ubuntu           3313
nan              2870
Chrome           2376
Other            1048
Tizen             531
BlackBerry        518
Fedora             92
FreeBSD             8
Symbian             4
Name: operating_system_version, dtype: int64

In [72]:
deviceUsersData["operating_system_version"] = deviceUsersData["operating_system_version"].map(lambda x: str(x).split(" ")[0])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [73]:
deviceUsersData["device_type"].value_counts()

Computer      1276520
Smartphone    1028684
Tablet          29896
Unknown          3711
Name: device_type, dtype: int64

In [74]:
deviceUsersData["device_type"] = deviceUsersData["device_type"].map(lambda x: "otros" if(x == "Tablet" or x=="Unknown") else x)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [75]:
device_user_type = deviceUsersData[["person","device_type"]]

In [76]:
device_user_type["count"] = 1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [77]:
device_user_type = device_user_type.groupby(["person","device_type"]).max().unstack().fillna(0).reset_index()

In [78]:
device_user_type.head()

               person    count
device_type           Computer Smartphone otros
0            0008ed71      1.0        0.0   0.0
1            00091926      1.0        0.0   0.0
2            00091a7a      0.0        1.0   0.0
3            000ba417      1.0        0.0   0.0
4            000c79fe      0.0        1.0   0.0

In [79]:
multiindex = device_user_type.columns
multiindex = multiindex.tolist()
multiindex
ind = pd.Index([ (e[1] if e[0]!= "person" else e[0]) for e in multiindex])
device_user_type.columns = ind
device_user_type.head()

     person  Computer  Smartphone  otros
0  0008ed71       1.0         0.0    0.0
1  00091926       1.0         0.0    0.0
2  00091a7a       0.0         1.0    0.0
3  000ba417       1.0         0.0    0.0
4  000c79fe       0.0         1.0    0.0

In [80]:
device_user_system = deviceUsersData[["person","operating_system_version"]]

In [81]:
device_user_system["count"] = 1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [82]:
device_user_system = device_user_system.groupby(["person","operating_system_version"]).max().unstack().fillna(0).reset_index()

In [83]:
device_user_system.head()

                            person   count                                   \
operating_system_version           Android BlackBerry Chrome Fedora FreeBSD
0                         0008ed71     0.0        0.0    0.0    0.0     0.0
1                         00091926     0.0        0.0    0.0    0.0     0.0
2                         00091a7a     1.0        0.0    0.0    0.0     0.0
3                         000ba417     0.0        0.0    0.0    0.0     0.0
4                         000c79fe     1.0        0.0    0.0    0.0     0.0

                                                                             \
operating_system_version Linux  Mac Other Symbian Tizen Ubuntu Windows  iOS
0                          0.0  0.0   0.0     0.0   0.0    0.0     1.0  0.0
1                          0.0  0.0   0.0     0.0   0.0    0.0     1.0  0.0
2                          0.0  0.0   0.0     0.0   0.0    0.0     0.0  0.0
3                          0.0  0.0   0.0     0.0   0.0    0.0     1.0  0.0
4                          0.0  0.0   0.0     0.0   0.0    0.0     0.0  0.0


operating_system_version  nan
0                         0.0
1                         0.0
2                         0.0
3                         0.0
4                         0.0

In [84]:
multiindex = device_user_system.columns
multiindex = multiindex.tolist()
multiindex
ind = pd.Index([ (e[1] if e[0]!= "person" else e[0]) for e in multiindex])
device_user_system.columns = ind
device_user_system.head()

,person,Android,BlackBerry,Chrome,Fedora,FreeBSD,Linux,Mac,Other,Symbian,Tizen,Ubuntu,Windows,iOS,nan
0,0008ed71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,00091926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,00091a7a,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,000ba417,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,000c79fe,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
device_user_system = device_user_system[["person","Windows","Android","iOS"]]

Informacion usuarios

In [86]:
infoUserData.head()

,person,timestamp,search_term,staticpage,campaign_source,search_engine,channel,new_vs_returning
0,4886f805,2018-05-18 00:11:59,NaN,NaN,NaN,NaN,NaN,NaN
1,ad93850f,2018-05-18 00:11:27,NaN,NaN,NaN,NaN,NaN,NaN
2,0297fc1e,2018-05-18 00:11:16,NaN,NaN,NaN,NaN,NaN,NaN
3,2d681dd8,2018-05-18 00:11:14,NaN,NaN,NaN,NaN,NaN,NaN
4,cccea85e,2018-05-18 00:11:09,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
dic_terminos = {}
for busqueda in infoUserData["search_term"]:
    for term in str(busqueda).split(" "):
        if (not term in dic_terminos.keys()):
            dic_terminos[term] = 1
        else:
            dic_terminos[term]+=1

In [88]:
list_terminos = sorted(dic_terminos.items(), key=lambda kv: kv[1])

In [89]:
list_terminos = list_terminos[::-1]

In [90]:
list_terminos.pop(0)

('nan', 2227918)

In [91]:
terminos = []
for name,count in list_terminos:
    if(len(name)>2):
        terminos.append((name,count))

In [92]:
len(terminos)

3640

In [93]:
terminos_populares = terminos[:300]

In [94]:
infoUserData["search_term"] = infoUserData["search_term"].fillna("0")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [95]:
def verificarPopularidadElTermino(string,terminospopulares):
    if (string==0):
        return False
    for palabra in string.split(" "):
        
        if(palabra in [name for name,count in terminospopulares]):
            return True
        
    return False

In [96]:
infoUserData["Busca_terminos_populares"] = infoUserData["search_term"].map(lambda x:1 if(verificarPopularidadElTermino(x,terminos_populares)) else 0)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [97]:
infoUserData["Busca_terminos_populares"].value_counts()

0    2251274
1      90407
Name: Busca_terminos_populares, dtype: int64

In [98]:
infoUserData.head()

,person,timestamp,search_term,staticpage,campaign_source,search_engine,channel,new_vs_returning,Busca_terminos_populares
0,4886f805,2018-05-18 00:11:59,0,NaN,NaN,NaN,NaN,NaN,0
1,ad93850f,2018-05-18 00:11:27,0,NaN,NaN,NaN,NaN,NaN,0
2,0297fc1e,2018-05-18 00:11:16,0,NaN,NaN,NaN,NaN,NaN,0
3,2d681dd8,2018-05-18 00:11:14,0,NaN,NaN,NaN,NaN,NaN,0
4,cccea85e,2018-05-18 00:11:09,0,NaN,NaN,NaN,NaN,NaN,0

In [99]:
infoUserData["channel"].value_counts()

Paid        91753
Direct      50675
Referral    33990
Organic     25867
Social       1406
Email         371
Unknown         7
Name: channel, dtype: int64

In [100]:
infoUserData["search_engine"].value_counts() #Tira todo a google

Google    105195
Bing         676
Yahoo        519
Ask           16
Name: search_engine, dtype: int64

In [101]:
infoUserData["staticpage"].value_counts()

CustomerService                      5239
FaqEcommerce                         1317
AboutUs                              1217
Quiosks                               868
trust-trocafone                       632
TermsAndConditionsReturnEcommerce     528
galaxy-s8                             380
Conditions                            285
how-to-sell                           234
how-to-buy                            232
TermsAndConditionsEcommerce           119
club-trocafone                        107
PrivacyEcommerce                       28
black_friday                           15
Name: staticpage, dtype: int64

In [102]:
infoUserData["campaign_source"].value_counts()

google              123354
criteo               24931
rtbhouse             23540
zanox                 7013
emblue                3653
afilio                1913
manifest              1365
FacebookAds           1301
voxus                  971
rakuten                843
bing                   839
datacrush              433
indexa                 313
buscape                271
Facebook               203
afiliado                92
blog                    88
mercadopago             74
yotpo                   54
FacebookSocial          12
onsite                  12
MARKETING SOCIAL         7
gizmodo                  4
Name: campaign_source, dtype: int64

In [103]:
person_campaing = infoUserData[["person","campaign_source"]]
person_channel = infoUserData[["person","channel"]]

In [104]:
person_term = infoUserData[["person","Busca_terminos_populares"]]

In [105]:
person_term.head()

     person  Busca_terminos_populares
0  4886f805                         0
1  ad93850f                         0
2  0297fc1e                         0
3  2d681dd8                         0
4  cccea85e                         0

In [106]:
person_term = person_term.groupby("person",as_index = False).sum()

In [107]:
person_term.head()

     person  Busca_terminos_populares
0  0008ed71                         0
1  00091926                         0
2  00091a7a                         0
3  000ba417                         0
4  000c79fe                         8

In [108]:
person_campaing = person_campaing.dropna()

In [109]:
person_campaing.head()

      person campaign_source
9   45baf068          google
14  45baf068          google
20  29ebb414          google
34  2a724d87          google
38  15ea8012          google

In [110]:
person_campaing = pd.get_dummies(person_campaing, columns=["campaign_source"])

In [111]:
person_campaing.head()

,person,campaign_source_Facebook,campaign_source_FacebookAds,campaign_source_FacebookSocial,campaign_source_MARKETING SOCIAL,campaign_source_afiliado,campaign_source_afilio,campaign_source_bing,campaign_source_blog,campaign_source_buscape,...,campaign_source_google,campaign_source_indexa,campaign_source_manifest,campaign_source_mercadopago,campaign_source_onsite,campaign_source_rakuten,campaign_source_rtbhouse,campaign_source_voxus,campaign_source_yotpo,campaign_source_zanox
9,45baf068,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
14,45baf068,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20,29ebb414,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
34,2a724d87,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
38,15ea8012,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [112]:
person_campaing = person_campaing[["person","campaign_source_google","campaign_source_criteo","campaign_source_rtbhouse"]]

In [113]:
person_campaing = person_campaing.groupby("person",as_index=False).sum()

In [114]:
person_channel = person_channel.dropna()

In [115]:
person_channel.head()

           person  channel
2136629  4640420b     Paid
2136630  4640420b     Paid
2136631  4640420b     Paid
2136632  4640420b     Paid
2136633  4640420b  Organic

In [116]:
person_channel = pd.get_dummies(person_channel, columns=["channel"])

In [117]:
person_channel.head()

,person,channel_Direct,channel_Email,channel_Organic,channel_Paid,channel_Referral,channel_Social,channel_Unknown
2136629,4640420b,0,0,0,1,0,0,0
2136630,4640420b,0,0,0,1,0,0,0
2136631,4640420b,0,0,0,1,0,0,0
2136632,4640420b,0,0,0,1,0,0,0
2136633,4640420b,0,0,1,0,0,0,0

In [118]:
person_channel = person_channel[["person","channel_Direct","channel_Paid","channel_Organic","channel_Referral"]]

In [119]:
person_channel = person_channel.groupby("person",as_index=False).sum()

Productos visto por el usuario

In [120]:
productData.head()

,person,event,sku,model,condition,storage,skus
0,4886f805,viewed product,9288.0,samsung galaxy j7 prime,Excelente,32GB,NaN
1,ad93850f,viewed product,304.0,iphone 5s,Muito Bom,32GB,NaN
2,0297fc1e,viewed product,6888.0,iphone 6s,Muito Bom,64GB,NaN
3,2d681dd8,viewed product,11890.0,iphone 7,Bom,128GB,NaN
4,cccea85e,viewed product,7517.0,lg g4 h818p,Excelente,32GB,NaN

In [121]:
productData["condition"].value_counts()

Bom                   547617
Excelente             378697
Muito Bom             359053
Bom - Sem Touch ID     31742
Novo                    3421
Name: condition, dtype: int64

In [122]:
productData["storage"].value_counts()

16GB     442096
32GB     430283
64GB     228413
128GB     99345
8GB       96019
256GB     17623
4GB        5409
512MB      1342
Name: storage, dtype: int64

In [123]:
productData["model"] = productData["model"].fillna("Desconocido")
productData["marca"] = productData["model"].map(lambda x:"apple" if(x.split(" ")[0] in ["iphone","ipad"]) else x.split(" ")[0])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [124]:
productData["marca"].value_counts()

Desconocido    893560
apple          643135
samsung        564336
motorola       177813
lg              27472
sony            16672
lenovo          11848
asus             5041
quantum          1737
ofertas            26
list               24
nokia              15
xiaomi              1
outros              1
Name: marca, dtype: int64

In [125]:
productData["version"] = productData["model"].map(lambda x:" ".join(x.split(" ")[0:2]) if(x.split(" ")[0] in ["iphone","ipad"]) else " ".join(x.split(" ")[1:3]))
productData["version"].value_counts()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                 905497
iphone 6         147600
iphone 6s        144700
iphone 5s        108058
iphone 7         107571
galaxy s7         96659
galaxy s6         76769
galaxy s8         58797
galaxy j7         51695
galaxy j5         48966
iphone se         39086
moto g4           38921
galaxy a5         36331
galaxy s5         34274
galaxy note       33937
iphone 5c         29797
galaxy a7         28334
moto x            27335
moto g5           25950
iphone 5          19876
moto g3           19328
moto z            18165
iphone 4s         15478
galaxy gran       13724
moto g2           13386
moto x2           13155
galaxy j2         10800
galaxy s4          9093
iphone             8926
xperia z3          8548
                  ...
muv pro              46
gear s3              45
muv up               38
x screen             34
razr i               31
moto g1a             29
live                 28
galaxy young         27
pre venda            26
l80 dual             21
ipad                 15
g pro                 6
l90 dual              6
galaxy pocket         6
g2                    5
go 3g                 5
tablet galaxy         4
l70 triple            4
g2 mini               4
razr hd               3
moto g1               3
xperia z              2
nexus 4               2
galaxy s              2
moto e4               1
tv led                1
optimus l7            1
redmi 2               1
moto e1               1
razr d3               1
Name: version, Length: 131, dtype: int64

In [126]:
users_view_list = productData[["person","skus"]]

In [127]:
users_view_list["skus"].isnull().value_counts()

True     1835732
False     505949
Name: skus, dtype: int64

In [128]:
productData = productData[(productData["event"] == "checkout")]

In [129]:
productData.head()

,person,event,sku,model,condition,storage,skus,marca,version
33,15ea8012,checkout,12802.0,samsung galaxy s8 plus,Excelente,64GB,NaN,samsung,galaxy s8
60,43790d8f,checkout,10378.0,motorola moto g4 plus,Bom,32GB,NaN,motorola,moto g4
76,d614c608,checkout,6343.0,samsung galaxy j5,Bom,16GB,NaN,samsung,galaxy j5
133,55d1e0ee,checkout,6663.0,samsung galaxy core plus duos tv,Excelente,4GB,NaN,samsung,galaxy core
147,bb78c182,checkout,7631.0,motorola moto g3 4g,Bom,16GB,NaN,motorola,moto g3

In [130]:
productData = productData[["person","marca","condition","version","storage"]]

In [131]:
productData.head()

       person     marca  condition      version storage
33   15ea8012   samsung  Excelente    galaxy s8    64GB
60   43790d8f  motorola        Bom      moto g4    32GB
76   d614c608   samsung        Bom    galaxy j5    16GB
133  55d1e0ee   samsung  Excelente  galaxy core     4GB
147  bb78c182  motorola        Bom      moto g3    16GB

In [132]:
productData["marca"].value_counts()

samsung     27838
apple       26771
motorola     8442
lg           1140
lenovo        573
sony          416
asus          102
quantum        33
Name: marca, dtype: int64

In [133]:
productData["version"].value_counts()

iphone 6          6988
iphone 6s         5658
iphone 5s         5619
galaxy j5         4246
galaxy j7         3649
galaxy s7         3633
iphone 7          3621
galaxy s6         2921
galaxy s8         2350
moto g4           2035
moto g2           1802
galaxy a5         1657
galaxy s5         1363
galaxy gran       1336
iphone 5c         1223
moto g5           1198
iphone se         1118
moto g3            994
galaxy j2          937
galaxy note        877
galaxy a7          839
iphone 4s          816
iphone 5           804
galaxy j1          787
galaxy win         653
moto x             632
moto z             615
galaxy core        607
moto x2            466
iphone 4g          436
                  ...
ipad air            39
g4 h815p            37
g3 stylus           36
xperia z5           29
k4                  26
k8                  25
g3 beat             21
zenfone 2           20
 x                  19
g4 beat             19
nexus 5             17
g4 stylus           17
go 4g               16
ipad 3              15
zenfone 5           14
ipad 4              13
x power             13
ipad 2              12
you                 10
zenfone 6           10
gear s2              7
muv                  6
galaxy young         6
zenfone go           3
zenfone selfie       2
gear fit             2
galaxy mega          1
gear s3              1
muv pro              1
l80 dual             1
Name: version, Length: 92, dtype: int64

In [134]:
productData["condition"].value_counts()

Bom                   28194
Excelente             18543
Muito Bom             16459
Bom - Sem Touch ID     2073
Novo                     46
Name: condition, dtype: int64

In [135]:
productData= pd.get_dummies(productData, columns=["marca","condition","version","storage"])

In [136]:
productData = productData.groupby("person",as_index=False).sum()

In [137]:
productData.columns

Index(['person', 'marca_apple', 'marca_asus', 'marca_lenovo', 'marca_lg',
       'marca_motorola', 'marca_quantum', 'marca_samsung', 'marca_sony',
       'condition_Bom',
       ...
       'version_zenfone go', 'version_zenfone selfie', 'storage_128GB',
       'storage_16GB', 'storage_256GB', 'storage_32GB', 'storage_4GB',
       'storage_512MB', 'storage_64GB', 'storage_8GB'],
      dtype='object', length=114)

In [138]:
productData = productData.drop(["marca_quantum","condition_Novo"],axis = 1)

In [139]:
productData.head()

,person,marca_apple,marca_asus,marca_lenovo,marca_lg,marca_motorola,marca_samsung,marca_sony,condition_Bom,condition_Bom - Sem Touch ID,...,version_zenfone go,version_zenfone selfie,storage_128GB,storage_16GB,storage_256GB,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB
0,0008ed71,1,0,0,1,0,1,0,2,0,...,0,0,0,0,0,2,0,0,1,0
1,00091926,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
2,000ba417,0,0,0,0,1,5,0,4,0,...,0,0,0,6,0,0,0,0,0,0
3,000c79fe,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
4,000e4d9e,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [140]:
productData.columns

Index(['person', 'marca_apple', 'marca_asus', 'marca_lenovo', 'marca_lg',
       'marca_motorola', 'marca_samsung', 'marca_sony', 'condition_Bom',
       'condition_Bom - Sem Touch ID',
       ...
       'version_zenfone go', 'version_zenfone selfie', 'storage_128GB',
       'storage_16GB', 'storage_256GB', 'storage_32GB', 'storage_4GB',
       'storage_512MB', 'storage_64GB', 'storage_8GB'],
      dtype='object', length=112)

In [141]:
productData = productData[['person', 'marca_apple', 'marca_asus', 'marca_lenovo', 'marca_lg',
       'marca_motorola', 'marca_samsung', 'marca_sony', 'condition_Bom',
       'condition_Bom - Sem Touch ID', 'condition_Excelente',
       'condition_Muito Bom',"version_galaxy j7","version_galaxy j5","version_galaxy s7","version_iphone 6","version_iphone 5s","version_iphone 6s","version_moto g4","version_moto g2","version_galaxy s6",'storage_128GB', 'storage_16GB', 'storage_256GB', 'storage_32GB',
       'storage_4GB', 'storage_512MB', 'storage_64GB', 'storage_8GB']]

In [142]:
productData.head()

,person,marca_apple,marca_asus,marca_lenovo,marca_lg,marca_motorola,marca_samsung,marca_sony,condition_Bom,condition_Bom - Sem Touch ID,...,version_moto g2,version_galaxy s6,storage_128GB,storage_16GB,storage_256GB,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB
0,0008ed71,1,0,0,1,0,1,0,2,0,...,0,1,0,0,0,2,0,0,1,0
1,00091926,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
2,000ba417,0,0,0,0,1,5,0,4,0,...,0,0,0,6,0,0,0,0,0,0
3,000c79fe,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
4,000e4d9e,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0

In [143]:
users_view_list.head()

     person skus
0  4886f805  NaN
1  ad93850f  NaN
2  0297fc1e  NaN
3  2d681dd8  NaN
4  cccea85e  NaN

In [144]:
users_view_list["skus"] = users_view_list["skus"].fillna(0)

In [145]:
users_view_list["skus"] = users_view_list["skus"].map(lambda x:0 if(x == 0) else 1)

In [146]:
users_view_list = users_view_list.groupby("person",as_index=False).max()

In [147]:
new_last15days = infoUserData[["person","timestamp","new_vs_returning"]]

In [148]:
new_last15days.head()

     person            timestamp new_vs_returning
0  4886f805  2018-05-18 00:11:59              NaN
1  ad93850f  2018-05-18 00:11:27              NaN
2  0297fc1e  2018-05-18 00:11:16              NaN
3  2d681dd8  2018-05-18 00:11:14              NaN
4  cccea85e  2018-05-18 00:11:09              NaN

In [149]:
new_last15days["timestamp"]= datetime(new_last15days["timestamp"],"%Y-%m-%dT%H:%M:%S")
new_last15days["month"] = new_last15days["timestamp"].map(lambda x: x.month)
new_last15days["day"] = new_last15days["timestamp"].map(lambda x: x.day)
new_last15days.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     person           timestamp new_vs_returning  month  day
0  4886f805 2018-05-18 00:11:59              NaN      5   18
1  ad93850f 2018-05-18 00:11:27              NaN      5   18
2  0297fc1e 2018-05-18 00:11:16              NaN      5   18
3  2d681dd8 2018-05-18 00:11:14              NaN      5   18
4  cccea85e 2018-05-18 00:11:09              NaN      5   18

In [150]:
new_last15days["new_vs_returning"].value_counts()

Returning    165827
New           38242
Name: new_vs_returning, dtype: int64

In [151]:
new_last15days = new_last15days[new_last15days["month"] == 5]
new_last15days = new_last15days[new_last15days["day"] >14]
new_last15days.head()

     person           timestamp new_vs_returning  month  day
0  4886f805 2018-05-18 00:11:59              NaN      5   18
1  ad93850f 2018-05-18 00:11:27              NaN      5   18
2  0297fc1e 2018-05-18 00:11:16              NaN      5   18
3  2d681dd8 2018-05-18 00:11:14              NaN      5   18
4  cccea85e 2018-05-18 00:11:09              NaN      5   18

In [152]:
new_last15days["new_15lastdays"] = new_last15days["new_vs_returning"] == "New"

In [153]:
new_last15days["new_15lastdays"].value_counts()

False    1377983
True       25484
Name: new_15lastdays, dtype: int64

In [154]:
new_last15days = new_last15days[["person","new_15lastdays"]]
new_last15days.head()

     person  new_15lastdays
0  4886f805           False
1  ad93850f           False
2  0297fc1e           False
3  2d681dd8           False
4  cccea85e           False

In [155]:
new_last15days = new_last15days.groupby("person",as_index=False).max()

In [156]:
new_last15days["new_15lastdays"] = new_last15days["new_15lastdays"].map(lambda x: 1 if(x) else 0)

Features geograficos

In [157]:
geoData.head()

     person           event       city          region country
0  4886f805  viewed product  Cantagalo  Rio de Janeiro  Brazil
1  ad93850f  viewed product  São Paulo       Sao Paulo  Brazil
2  0297fc1e  viewed product    Niterói  Rio de Janeiro  Brazil
3  2d681dd8  viewed product  Juquitiba       Sao Paulo  Brazil
4  cccea85e  viewed product     Osasco       Sao Paulo  Brazil

In [158]:
geoData = geoData[geoData["event"] == "conversion"]

In [159]:
region = geoData[["person","region"]]

In [160]:
region = region.drop_duplicates(subset = "person", keep = "first")

In [161]:
(region["region"].value_counts() > 50).value_counts()

False    29
True     15
Name: region, dtype: int64

In [162]:
region["region"] = region["region"].fillna(0)

In [163]:
sell_region = region["region"].value_counts()

In [164]:
region["ventas_region"] = region["region"].map(lambda x: sell_region[x])

In [165]:
region.head()

        person        region  ventas_region
195   49c19e32     Sao Paulo           1213
724   39df97e0  Minas Gerais            421
744   380c0e60     Sao Paulo           1213
1198  35ee0cc8       Unknown            756
2124  c5a0bc36       Unknown            756

In [166]:
esBrasilero = geoData[["person","country"]]

In [167]:
esBrasilero["Brasilero"] = esBrasilero["country"].map(lambda x: 1 if(x == "Brazil") else 0)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [168]:
esBrasilero = esBrasilero[["person","Brasilero"]]

In [169]:
esBrasilero = esBrasilero.groupby("person",as_index=False).max()

Colores

In [170]:
personColor.head()

     person           event           color
0  4886f805  viewed product         Dourado
1  ad93850f  viewed product  Cinza espacial
2  0297fc1e  viewed product        Prateado
3  2d681dd8  viewed product        Vermelho
4  cccea85e  viewed product          Branco

In [171]:
personColor["color"].value_counts().head()

Preto             314925
Dourado           275212
Cinza espacial    151770
Branco            126496
Prateado          114284
Name: color, dtype: int64

In [172]:
personColor = personColor.dropna()

In [173]:
personColor["event"].value_counts()

viewed product    1248124
checkout            65315
conversion           7091
Name: event, dtype: int64

In [174]:
bestcolorseller = personColor[personColor["event"] == "checkout"]
colorsellers = bestcolorseller["color"].value_counts()

In [175]:
colorsellers.head(12)

Preto             17249
Dourado           16295
Cinza espacial     6673
Branco             6601
Prateado           4601
Ouro Rosa          3550
Rosa               1694
Prata              1297
Preto Matte        1135
Platinum            979
Azul                756
Cinza               684
Name: color, dtype: int64

In [176]:
personColor = pd.get_dummies(personColor, columns=["color"])
personColor.head()

,person,event,color_Amarelo,color_Ametista,color_Azul,color_Azul Escuro,color_Azul Safira,color_Azul Topázio,color_Bambu,color_Black Piano,...,color_Rouge,color_Roxo,color_Silver,color_Titânio,color_Turquesa,color_Verde,color_Verde Petroleo,color_Verde Água,color_Vermelho,color_Ônix
0,4886f805,viewed product,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ad93850f,viewed product,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0297fc1e,viewed product,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2d681dd8,viewed product,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,cccea85e,viewed product,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [177]:
personColor = personColor[personColor["event"] == "viewed product"]

In [178]:
personColor = personColor[["person","color_Preto","color_Dourado","color_Branco","color_Cinza espacial"]]
personColor.head()

     person  color_Preto  color_Dourado  color_Branco  color_Cinza espacial
0  4886f805            0              1             0                     0
1  ad93850f            0              0             0                     1
2  0297fc1e            0              0             0                     0
3  2d681dd8            0              0             0                     0
4  cccea85e            0              0             1                     0

In [289]:
personColor = personColor.groupby("person").sum()

In [290]:
personColor.head()

,index,color_Preto,color_Dourado,color_Branco,color_Cinza espacial
person,,,,,
00091926,0,79.0,101.0,3.0,65.0
00091a7a,1,0.0,1.0,0.0,1.0
000ba417,2,71.0,14.0,15.0,1.0
000c79fe,3,0.0,0.0,0.0,0.0
000e4d9e,4,149.0,46.0,85.0,14.0

Mergeo todos mis resultados de los nuevos features

In [291]:
secionesUsuarios.head()

,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead
0,0008ed71,3,3.0,0.0,0.0,0.0
1,00091926,37,2.0,0.0,15.0,0.0
2,00091a7a,1,0.0,0.0,1.0,0.0
3,000ba417,9,6.0,1.0,1.0,0.0
4,000c79fe,1,1.0,0.0,1.0,0.0

In [292]:
device_user_type.head()

     person  Computer  Smartphone  otros
0  0008ed71       1.0         0.0    0.0
1  00091926       1.0         0.0    0.0
2  00091a7a       0.0         1.0    0.0
3  000ba417       1.0         0.0    0.0
4  000c79fe       0.0         1.0    0.0

In [293]:
person_term.head()

     person  Busca_terminos_populares
0  0008ed71                         0
1  00091926                         0
2  00091a7a                         0
3  000ba417                         0
4  000c79fe                         8

In [294]:
productData.head()

,person,marca_apple,marca_asus,marca_lenovo,marca_lg,marca_motorola,marca_samsung,marca_sony,condition_Bom,condition_Bom - Sem Touch ID,...,version_moto g2,version_galaxy s6,storage_128GB,storage_16GB,storage_256GB,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB
0,0008ed71,1,0,0,1,0,1,0,2,0,...,0,1,0,0,0,2,0,0,1,0
1,00091926,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
2,000ba417,0,0,0,0,1,5,0,4,0,...,0,0,0,6,0,0,0,0,0,0
3,000c79fe,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
4,000e4d9e,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0

In [295]:
users_view_list.head()

     person  skus
0  0008ed71     1
1  00091926     1
2  00091a7a     1
3  000ba417     1
4  000c79fe     1

In [296]:
secionesUsuarios.columns

Index(['person', 'cant_seciones', 'event_checkout', 'event_conversion',
       'event_ad campaign hit', 'event_lead'],
      dtype='object')

In [297]:
secionesUsuariosReducido = secionesUsuarios#[["person","cant_seciones5","cant_seciones4","cant_seciones3","event_checkout5","event_checkout4","event_conversion5","event_conversion4","event_ad campaign hit4","event_ad campaign hit5","event_lead5","event_lead4"]]

In [298]:
secionesUsuariosReducido.head()

,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead
0,0008ed71,3,3.0,0.0,0.0,0.0
1,00091926,37,2.0,0.0,15.0,0.0
2,00091a7a,1,0.0,0.0,1.0,0.0
3,000ba417,9,6.0,1.0,1.0,0.0
4,000c79fe,1,1.0,0.0,1.0,0.0

In [299]:
dataTrocafone = pd.merge(secionesUsuariosReducido,users_view_list,on="person",how = "outer")

In [300]:
dataTrocafone.head()

,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead,skus
0,0008ed71,3,3.0,0.0,0.0,0.0,1
1,00091926,37,2.0,0.0,15.0,0.0,1
2,00091a7a,1,0.0,0.0,1.0,0.0,1
3,000ba417,9,6.0,1.0,1.0,0.0,1
4,000c79fe,1,1.0,0.0,1.0,0.0,1

In [301]:
dataTrocafone = pd.merge(dataTrocafone,person_term,on="person",how="outer")

In [302]:
dataTrocafone = pd.merge(dataTrocafone,device_user_type,on="person",how="outer")

In [303]:
dataTrocafone["Computer"] = dataTrocafone["Computer"].fillna(0)

In [304]:
dataTrocafone["Smartphone"] = dataTrocafone["Smartphone"].fillna(0)

In [305]:
dataTrocafone["otros"] = dataTrocafone["otros"].fillna(0)

In [306]:
dataTrocafone = dataTrocafone.fillna(0)

In [307]:
dataTrocafone.columns

Index(['person', 'cant_seciones', 'event_checkout', 'event_conversion',
       'event_ad campaign hit', 'event_lead', 'skus',
       'Busca_terminos_populares', 'Computer', 'Smartphone', 'otros'],
      dtype='object')

In [308]:
dataTrocafone.head()

,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead,skus,Busca_terminos_populares,Computer,Smartphone,otros
0,0008ed71,3,3.0,0.0,0.0,0.0,1,0,1.0,0.0,0.0
1,00091926,37,2.0,0.0,15.0,0.0,1,0,1.0,0.0,0.0
2,00091a7a,1,0.0,0.0,1.0,0.0,1,0,0.0,1.0,0.0
3,000ba417,9,6.0,1.0,1.0,0.0,1,0,1.0,0.0,0.0
4,000c79fe,1,1.0,0.0,1.0,0.0,1,8,0.0,1.0,0.0

In [309]:
dataTrocafone = pd.merge(dataTrocafone,productData,on="person",how="outer")

In [310]:
dataTrocafone.columns

Index(['person', 'cant_seciones', 'event_checkout', 'event_conversion',
       'event_ad campaign hit', 'event_lead', 'skus',
       'Busca_terminos_populares', 'Computer', 'Smartphone', 'otros',
       'marca_apple', 'marca_asus', 'marca_lenovo', 'marca_lg',
       'marca_motorola', 'marca_samsung', 'marca_sony', 'condition_Bom',
       'condition_Bom - Sem Touch ID', 'condition_Excelente',
       'condition_Muito Bom', 'version_galaxy j7', 'version_galaxy j5',
       'version_galaxy s7', 'version_iphone 6', 'version_iphone 5s',
       'version_iphone 6s', 'version_moto g4', 'version_moto g2',
       'version_galaxy s6', 'storage_128GB', 'storage_16GB', 'storage_256GB',
       'storage_32GB', 'storage_4GB', 'storage_512MB', 'storage_64GB',
       'storage_8GB'],
      dtype='object')

In [311]:
users_partedeldia.head()

,person,Parte del dia_Madrugada,Parte del dia_Mañana,Parte del dia_Noche,Parte del dia_Tarde
0,0008ed71,0.0,0.0,1.0,5.0
1,00091926,196.0,0.0,252.0,0.0
2,00091a7a,0.0,0.0,0.0,10.0
3,000ba417,0.0,57.0,43.0,106.0
4,000c79fe,0.0,0.0,17.0,0.0

In [312]:
dataTrocafone = pd.merge(dataTrocafone,users_partedeldia,on="person",how="left")

In [313]:
dataTrocafone = pd.merge(dataTrocafone,person_campaing,on="person",how="outer")

In [314]:
dataTrocafone = pd.merge(dataTrocafone,person_channel,on="person",how="outer")

In [315]:
dataTrocafone = pd.merge(dataTrocafone,esBrasilero,on="person",how="outer")

In [316]:
dataTrocafone = dataTrocafone.fillna(0)

In [317]:
dataTrocafone = pd.merge(dataTrocafone,region,on="person",how="outer")

In [318]:
dataTrocafone = dataTrocafone.drop("region",axis=1)

In [319]:
dataTrocafone["ventas_region"] = dataTrocafone["ventas_region"].fillna(0)

In [320]:
dataTrocafone.head()

,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead,skus,Busca_terminos_populares,Computer,Smartphone,...,Parte del dia_Tarde,campaign_source_google,campaign_source_criteo,campaign_source_rtbhouse,channel_Direct,channel_Paid,channel_Organic,channel_Referral,Brasilero,ventas_region
0,0008ed71,3,3.0,0.0,0.0,0.0,1,0,1.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
1,00091926,37,2.0,0.0,15.0,0.0,1,0,1.0,0.0,...,0.0,13.0,1.0,1.0,25.0,8.0,0.0,1.0,0.0,0.0
2,00091a7a,1,0.0,0.0,1.0,0.0,1,0,0.0,1.0,...,10.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,000ba417,9,6.0,1.0,1.0,0.0,1,0,1.0,0.0,...,106.0,1.0,0.0,0.0,6.0,0.0,0.0,0.0,1.0,1213.0
4,000c79fe,1,1.0,0.0,1.0,0.0,1,8,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [321]:
last_15days.head()

,person,count_activity,conversiones_15lastdays,checkout_15lastdays,viewed_15lastday
0,0008ed71,6,0.0,3.0,0.0
1,00091926,283,0.0,2.0,250.0
2,000ba417,206,1.0,6.0,153.0
3,000c79fe,17,0.0,1.0,3.0
4,000e4d9e,411,0.0,1.0,339.0

In [322]:
dataTrocafone = pd.merge(dataTrocafone,last_15days,how = "left", on="person")

In [323]:
dataTrocafone["count_activity"] = dataTrocafone["count_activity"].fillna(0)

In [324]:
dataTrocafone["conversiones_15lastdays"] = dataTrocafone["conversiones_15lastdays"].fillna(0)
dataTrocafone["checkout_15lastdays"] = dataTrocafone["checkout_15lastdays"].fillna(0)
dataTrocafone["viewed_15lastday"] = dataTrocafone["viewed_15lastday"].fillna(0)

In [325]:
personColor.head()

,index,color_Preto,color_Dourado,color_Branco,color_Cinza espacial
person,,,,,
00091926,0,79.0,101.0,3.0,65.0
00091a7a,1,0.0,1.0,0.0,1.0
000ba417,2,71.0,14.0,15.0,1.0
000c79fe,3,0.0,0.0,0.0,0.0
000e4d9e,4,149.0,46.0,85.0,14.0

In [326]:
personColor = personColor.reset_index()

In [327]:
dataTrocafone = pd.merge(dataTrocafone,personColor,how = "left", on="person")

In [328]:
dataTrocafone["color_Preto"] = dataTrocafone["color_Preto"].fillna(0)
dataTrocafone["color_Dourado"] = dataTrocafone["color_Dourado"].fillna(0)
dataTrocafone["color_Branco"] = dataTrocafone["color_Branco"].fillna(0)
dataTrocafone["color_Cinza espacial"] = dataTrocafone["color_Cinza espacial"].fillna(0)

In [329]:
dataTrocafone = pd.merge(dataTrocafone,new_last15days,how = "left", on="person")
dataTrocafone['person'].count()

38829

In [330]:
dataTrocafone["new_15lastdays"] = dataTrocafone["new_15lastdays"].fillna(0)
dataTrocafone['person'].count()

38829

In [331]:
dataTrocafone = pd.merge(dataTrocafone,skuData,how = "left", on="person")
dataTrocafone
dataTrocafone = pd.merge(dataTrocafone,dataSearchAndSelling,how = "left", on="person")

In [332]:
dataTrocafone["cantidad_De_Compras_De_Mismo_Sku"] = dataTrocafone["cantidad_De_Compras_De_Mismo_Sku"].fillna(0)
dataTrocafone["sku"] = dataTrocafone["sku"].fillna(0)

In [333]:
dataTrocafone["search_and_purchase"] = dataTrocafone["search_and_purchase"].fillna(0)
dataTrocafone["Cantidad_De_Busquedas_Por_Termino"] = dataTrocafone["Cantidad_De_Busquedas_Por_Termino"].fillna(0)

In [334]:
dataTrocafone = pd.merge(dataTrocafone,auxiliar,how = "left", on="person")
dataTrocafone["cantidad_de_Url_de_compra"] = dataTrocafone["cantidad_de_Url_de_compra"].fillna(0)

In [335]:
dataTrocafone = pd.merge(dataTrocafone,staticPageData,how = "left", on="person")
dataTrocafone["cantidadDeStaticPage"] = dataTrocafone["cantidadDeStaticPage"].fillna(0)

In [336]:
dataTrocafone = pd.merge(dataTrocafone,dataF,how = "left", on="person")
dataTrocafone["sku_multiple"] = dataTrocafone["sku_multiple"].fillna(0)

In [337]:
dataTrocafone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38829 entries, 0 to 38828
Data columns (total 69 columns):
person                               38829 non-null object
cant_seciones                        38829 non-null int64
event_checkout                       38829 non-null float64
event_conversion                     38829 non-null float64
event_ad campaign hit                38829 non-null float64
event_lead                           38829 non-null float64
skus                                 38829 non-null int64
Busca_terminos_populares             38829 non-null int64
Computer                             38829 non-null float64
Smartphone                           38829 non-null float64
otros                                38829 non-null float64
marca_apple                          38829 non-null float64
marca_asus                           38829 non-null float64
marca_lenovo                         38829 non-null float64
marca_lg                             38829 non-null float64
marca_motorola                       38829 non-null float64
marca_samsung                        38829 non-null float64
marca_sony                           38829 non-null float64
condition_Bom                        38829 non-null float64
condition_Bom - Sem Touch ID         38829 non-null float64
condition_Excelente                  38829 non-null float64
condition_Muito Bom                  38829 non-null float64
version_galaxy j7                    38829 non-null float64
version_galaxy j5                    38829 non-null float64
version_galaxy s7                    38829 non-null float64
version_iphone 6                     38829 non-null float64
version_iphone 5s                    38829 non-null float64
version_iphone 6s                    38829 non-null float64
version_moto g4                      38829 non-null float64
version_moto g2                      38829 non-null float64
version_galaxy s6                    38829 non-null float64
storage_128GB                        38829 non-null float64
storage_16GB                         38829 non-null float64
storage_256GB                        38829 non-null float64
storage_32GB                         38829 non-null float64
storage_4GB                          38829 non-null float64
storage_512MB                        38829 non-null float64
storage_64GB                         38829 non-null float64
storage_8GB                          38829 non-null float64
Parte del dia_Madrugada              38829 non-null float64
Parte del dia_Mañana                 38829 non-null float64
Parte del dia_Noche                  38829 non-null float64
Parte del dia_Tarde                  38829 non-null float64
campaign_source_google               38829 non-null float64
campaign_source_criteo               38829 non-null float64
campaign_source_rtbhouse             38829 non-null float64
channel_Direct                       38829 non-null float64
channel_Paid                         38829 non-null float64
channel_Organic                      38829 non-null float64
channel_Referral                     38829 non-null float64
Brasilero                            38829 non-null float64
ventas_region                        38829 non-null float64
count_activity                       38829 non-null float64
conversiones_15lastdays              38829 non-null float64
checkout_15lastdays                  38829 non-null float64
viewed_15lastday                     38829 non-null float64
index                                37130 non-null float64
color_Preto                          38829 non-null float64
color_Dourado                        38829 non-null float64
color_Branco                         38829 non-null float64
color_Cinza espacial                 38829 non-null float64
new_15lastdays                       38829 non-null float64
sku                                  38829 non-null float64
cantidad_De_Compras_De_Mismo_Sku     38829 non-null float64
Cantidad_De_Busquedas_Por_Termino    38829 non-null float64
search_and_purchase                  38829 non-null float64
cantidad_de_Url_de_compra            38829 non-null float64
cantidadDeStaticPage                 38829 non-null float64
sku_multiple                         38829 non-null float64
dtypes: float64(65), int64(3), object(1)
memory usage: 20.7+ MB

Armo el set de training y el de test

In [338]:
trainingSet = pd.read_csv("data/labels_training_set.csv", low_memory = False)

In [339]:
trainingSet.head()

     person  label
0  0566e9c1      0
1  6ec7ee77      0
2  abe7a2fb      0
3  34728364      0
4  87ed62de      0

In [340]:
trainingSet["person"].count()

19414

In [341]:
dataTrocafone["person"].count()

38829

In [342]:
setTraining = pd.merge(dataTrocafone,trainingSet,on="person",how = "inner")

In [343]:
setTraining.head()

,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead,skus,Busca_terminos_populares,Computer,Smartphone,...,color_Cinza espacial,new_15lastdays,sku,cantidad_De_Compras_De_Mismo_Sku,Cantidad_De_Busquedas_Por_Termino,search_and_purchase,cantidad_de_Url_de_compra,cantidadDeStaticPage,sku_multiple,label
0,0008ed71,3,3.0,0.0,0.0,0.0,1,0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0
1,000c79fe,1,1.0,0.0,1.0,0.0,1,8,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,79.0,0
2,001802e4,1,1.0,0.0,5.0,0.0,1,0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,5.0,0.0,24.0,0
3,0019e639,21,15.0,2.0,29.0,0.0,1,3,1.0,0.0,...,0.0,0.0,508.0,2.0,22.0,1.0,29.0,0.0,608.0,0
4,001b0bf9,1,2.0,1.0,0.0,0.0,1,0,0.0,0.0,...,0.0,0.0,12788.0,1.0,0.0,0.0,0.0,0.0,24.0,0

In [344]:
setTraining.columns

Index(['person', 'cant_seciones', 'event_checkout', 'event_conversion',
       'event_ad campaign hit', 'event_lead', 'skus',
       'Busca_terminos_populares', 'Computer', 'Smartphone', 'otros',
       'marca_apple', 'marca_asus', 'marca_lenovo', 'marca_lg',
       'marca_motorola', 'marca_samsung', 'marca_sony', 'condition_Bom',
       'condition_Bom - Sem Touch ID', 'condition_Excelente',
       'condition_Muito Bom', 'version_galaxy j7', 'version_galaxy j5',
       'version_galaxy s7', 'version_iphone 6', 'version_iphone 5s',
       'version_iphone 6s', 'version_moto g4', 'version_moto g2',
       'version_galaxy s6', 'storage_128GB', 'storage_16GB', 'storage_256GB',
       'storage_32GB', 'storage_4GB', 'storage_512MB', 'storage_64GB',
       'storage_8GB', 'Parte del dia_Madrugada', 'Parte del dia_Mañana',
       'Parte del dia_Noche', 'Parte del dia_Tarde', 'campaign_source_google',
       'campaign_source_criteo', 'campaign_source_rtbhouse', 'channel_Direct',
       'channel_Paid', 'channel_Organic', 'channel_Referral', 'Brasilero',
       'ventas_region', 'count_activity', 'conversiones_15lastdays',
       'checkout_15lastdays', 'viewed_15lastday', 'index', 'color_Preto',
       'color_Dourado', 'color_Branco', 'color_Cinza espacial',
       'new_15lastdays', 'sku', 'cantidad_De_Compras_De_Mismo_Sku',
       'Cantidad_De_Busquedas_Por_Termino', 'search_and_purchase',
       'cantidad_de_Url_de_compra', 'cantidadDeStaticPage', 'sku_multiple',
       'label'],
      dtype='object')

In [345]:
setTraining["person"].count()

19414

In [346]:
setTraining.to_csv('setEntrenamiento.csv')

In [347]:
kaggle_test = pd.read_csv("data/trocafone_kaggle_test.csv", low_memory = False)

In [348]:
kaggle_test["person"].count()

19415

In [349]:
test = pd.merge(kaggle_test,dataTrocafone,on="person",how="inner")

In [350]:
test["person"].count()

19415

In [351]:
test.to_csv("setTest.csv")

In [352]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19415 entries, 0 to 19414
Data columns (total 69 columns):
person                               19415 non-null object
cant_seciones                        19415 non-null int64
event_checkout                       19415 non-null float64
event_conversion                     19415 non-null float64
event_ad campaign hit                19415 non-null float64
event_lead                           19415 non-null float64
skus                                 19415 non-null int64
Busca_terminos_populares             19415 non-null int64
Computer                             19415 non-null float64
Smartphone                           19415 non-null float64
otros                                19415 non-null float64
marca_apple                          19415 non-null float64
marca_asus                           19415 non-null float64
marca_lenovo                         19415 non-null float64
marca_lg                             19415 non-null float64
marca_motorola                       19415 non-null float64
marca_samsung                        19415 non-null float64
marca_sony                           19415 non-null float64
condition_Bom                        19415 non-null float64
condition_Bom - Sem Touch ID         19415 non-null float64
condition_Excelente                  19415 non-null float64
condition_Muito Bom                  19415 non-null float64
version_galaxy j7                    19415 non-null float64
version_galaxy j5                    19415 non-null float64
version_galaxy s7                    19415 non-null float64
version_iphone 6                     19415 non-null float64
version_iphone 5s                    19415 non-null float64
version_iphone 6s                    19415 non-null float64
version_moto g4                      19415 non-null float64
version_moto g2                      19415 non-null float64
version_galaxy s6                    19415 non-null float64
storage_128GB                        19415 non-null float64
storage_16GB                         19415 non-null float64
storage_256GB                        19415 non-null float64
storage_32GB                         19415 non-null float64
storage_4GB                          19415 non-null float64
storage_512MB                        19415 non-null float64
storage_64GB                         19415 non-null float64
storage_8GB                          19415 non-null float64
Parte del dia_Madrugada              19415 non-null float64
Parte del dia_Mañana                 19415 non-null float64
Parte del dia_Noche                  19415 non-null float64
Parte del dia_Tarde                  19415 non-null float64
campaign_source_google               19415 non-null float64
campaign_source_criteo               19415 non-null float64
campaign_source_rtbhouse             19415 non-null float64
channel_Direct                       19415 non-null float64
channel_Paid                         19415 non-null float64
channel_Organic                      19415 non-null float64
channel_Referral                     19415 non-null float64
Brasilero                            19415 non-null float64
ventas_region                        19415 non-null float64
count_activity                       19415 non-null float64
conversiones_15lastdays              19415 non-null float64
checkout_15lastdays                  19415 non-null float64
viewed_15lastday                     19415 non-null float64
index                                18560 non-null float64
color_Preto                          19415 non-null float64
color_Dourado                        19415 non-null float64
color_Branco                         19415 non-null float64
color_Cinza espacial                 19415 non-null float64
new_15lastdays                       19415 non-null float64
sku                                  19415 non-null float64
cantidad_De_Compras_De_Mismo_Sku     19415 non-null float64
Cantidad_De_Busquedas_Por_Termino    19415 non-null float64
search_and_purchase                  19415 non-null float64
cantidad_de_Url_de_compra            19415 non-null float64
cantidadDeStaticPage                 19415 non-null float64
sku_multiple                         19415 non-null float64
dtypes: float64(65), int64(3), object(1)
memory usage: 10.4+ MB