In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
eventsData = pd.read_csv("data/Eventos(+completo).csv",low_memory = False)

In [3]:
eventsData.columns

Index(['Unnamed: 0', 'timestamp', 'event', 'person', 'url', 'sku', 'model',
       'condition', 'storage', 'color', 'skus', 'search_term', 'staticpage',
       'campaign_source', 'search_engine', 'channel', 'new_vs_returning',
       'city', 'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'Parte del dia'],
      dtype='object')

In [4]:
eventsData = eventsData.drop("Unnamed: 0", axis=1)

In [139]:
geoData = eventsData[["person","event","city","region","country"]]

In [140]:
deviceUsersData = eventsData[["person","browser_version","operating_system_version","screen_resolution","device_type"]]

In [103]:
productData = eventsData[["person","event","sku","model","condition","storage","skus"]]

In [8]:
infoUserData = eventsData[["person","search_term","staticpage","campaign_source","search_engine","channel","new_vs_returning"]]

In [9]:
timeData = eventsData[["person","timestamp","Parte del dia","event"]]

Busco crear nuevo features

temporales

In [10]:
timeData.head()

     person            timestamp Parte del dia           event
0  4886f805  2018-05-18 00:11:59         Noche  viewed product
1  ad93850f  2018-05-18 00:11:27         Noche  viewed product
2  0297fc1e  2018-05-18 00:11:16         Noche  viewed product
3  2d681dd8  2018-05-18 00:11:14         Noche  viewed product
4  cccea85e  2018-05-18 00:11:09         Noche  viewed product

In [11]:
users_partedeldia = timeData[["person","Parte del dia"]]

In [12]:
users_partedeldia = pd.get_dummies(users_partedeldia, columns=["Parte del dia"])

In [13]:
users_partedeldia = users_partedeldia.groupby("person",as_index = False).sum()

In [14]:
#Funcion que pasa a formato datetime las fechas que recibimos.
def datetime(date,format_string):
    return pd.to_datetime(date,format= format_string,errors='coerce')

timeData["timestamp"]= datetime(timeData["timestamp"],"%Y-%m-%dT%H:%M:%S")

type(timeData["timestamp"][0])

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

pandas.tslib.Timestamp

In [15]:
timeData["year"] = timeData["timestamp"].map(lambda x: x.year)
timeData["month"] = timeData["timestamp"].map(lambda x: x.month)
timeData["day"] = timeData["timestamp"].map(lambda x: x.day)
timeData["hour"] = timeData["timestamp"].map(lambda x: x.hour)

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
timeData.head()

,person,timestamp,Parte del dia,event,year,month,day,hour
0,4886f805,2018-05-18 00:11:59,Noche,viewed product,2018,5,18,0
1,ad93850f,2018-05-18 00:11:27,Noche,viewed product,2018,5,18,0
2,0297fc1e,2018-05-18 00:11:16,Noche,viewed product,2018,5,18,0
3,2d681dd8,2018-05-18 00:11:14,Noche,viewed product,2018,5,18,0
4,cccea85e,2018-05-18 00:11:09,Noche,viewed product,2018,5,18,0

In [17]:
timeData["minute"] = timeData["timestamp"].map(lambda x: x.minute)

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [18]:
timeData.head()

,person,timestamp,Parte del dia,event,year,month,day,hour,minute
0,4886f805,2018-05-18 00:11:59,Noche,viewed product,2018,5,18,0,11
1,ad93850f,2018-05-18 00:11:27,Noche,viewed product,2018,5,18,0,11
2,0297fc1e,2018-05-18 00:11:16,Noche,viewed product,2018,5,18,0,11
3,2d681dd8,2018-05-18 00:11:14,Noche,viewed product,2018,5,18,0,11
4,cccea85e,2018-05-18 00:11:09,Noche,viewed product,2018,5,18,0,11

In [19]:
timeData["year"].value_counts()

2018    2341681
Name: year, dtype: int64

In [20]:
timeData = timeData.drop("year",axis = 1)

In [21]:
timeData = pd.get_dummies(timeData, columns=["event"])
timeData.head()

,person,timestamp,Parte del dia,month,day,hour,minute,event_ad campaign hit,event_brand listing,event_checkout,event_conversion,event_generic listing,event_lead,event_search engine hit,event_searched products,event_staticpage,event_viewed product,event_visited site
0,4886f805,2018-05-18 00:11:59,Noche,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
1,ad93850f,2018-05-18 00:11:27,Noche,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
2,0297fc1e,2018-05-18 00:11:16,Noche,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
3,2d681dd8,2018-05-18 00:11:14,Noche,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
4,cccea85e,2018-05-18 00:11:09,Noche,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0

In [22]:
timeData = timeData.drop(["timestamp","Parte del dia"], axis=1)

In [23]:
timeData.head()

,person,month,day,hour,minute,event_ad campaign hit,event_brand listing,event_checkout,event_conversion,event_generic listing,event_lead,event_search engine hit,event_searched products,event_staticpage,event_viewed product,event_visited site
0,4886f805,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
1,ad93850f,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
2,0297fc1e,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
3,2d681dd8,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0
4,cccea85e,5,18,0,11,0,0,0,0,0,0,0,0,0,1,0

In [24]:
timeData = timeData.drop("minute",axis=1)

In [25]:
secionesUsuarios = timeData.groupby(["person","month","day","hour"]).sum()

In [26]:
secionesUsuarios["cant_seciones"] = 1

In [27]:
secionesUsuarios.head()

                         event_ad campaign hit  event_brand listing  \
person   month day hour
0008ed71 5     17  12                      0.0                  0.0
                   13                      0.0                  0.0
                   16                      0.0                  0.0
00091926 5     3   22                      0.0                  0.0
               5   3                       0.0                  0.0

                         event_checkout  event_conversion  \
person   month day hour
0008ed71 5     17  12               1.0               0.0
                   13               1.0               0.0
                   16               1.0               0.0
00091926 5     3   22               0.0               0.0
               5   3                0.0               0.0

                         event_generic listing  event_lead  \
person   month day hour
0008ed71 5     17  12                      0.0         0.0
                   13                      0.0         0.0
                   16                      1.0         0.0
00091926 5     3   22                      0.0         0.0
               5   3                       0.0         0.0

                         event_search engine hit  event_searched products  \
person   month day hour
0008ed71 5     17  12                        0.0                      0.0
                   13                        0.0                      0.0
                   16                        0.0                      0.0
00091926 5     3   22                        0.0                      0.0
               5   3                         0.0                      0.0

                         event_staticpage  event_viewed product  \
person   month day hour
0008ed71 5     17  12                 0.0                   0.0
                   13                 0.0                   0.0
                   16                 0.0                   0.0
00091926 5     3   22                 0.0                   6.0
               5   3                  0.0                   5.0

                         event_visited site  cant_seciones
person   month day hour
0008ed71 5     17  12                   0.0              1
                   13                   1.0              1
                   16                   1.0              1
00091926 5     3   22                   1.0              1
               5   3                    1.0              1

In [28]:
secionesUsuarios = secionesUsuarios[["cant_seciones","event_checkout","event_conversion","event_ad campaign hit","event_lead"]]
secionesUsuarios.head()

                         cant_seciones  event_checkout  event_conversion  \
person   month day hour
0008ed71 5     17  12                1             1.0               0.0
                   13                1             1.0               0.0
                   16                1             1.0               0.0
00091926 5     3   22                1             0.0               0.0
               5   3                 1             0.0               0.0

                         event_ad campaign hit  event_lead
person   month day hour
0008ed71 5     17  12                      0.0         0.0
                   13                      0.0         0.0
                   16                      0.0         0.0
00091926 5     3   22                      0.0         0.0
               5   3                       0.0         0.0

In [29]:
secionesUsuarios = secionesUsuarios.reset_index()

In [30]:
secionesUsuarios.head()

,person,month,day,hour,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead
0,0008ed71,5,17,12,1,1.0,0.0,0.0,0.0
1,0008ed71,5,17,13,1,1.0,0.0,0.0,0.0
2,0008ed71,5,17,16,1,1.0,0.0,0.0,0.0
3,00091926,5,3,22,1,0.0,0.0,0.0,0.0
4,00091926,5,5,3,1,0.0,0.0,0.0,0.0

In [31]:
secionesUsuarios = secionesUsuarios.drop(["day","hour","month"],axis=1)

In [32]:
secionesUsuarios = secionesUsuarios.groupby(["person"]).sum().fillna(0)

In [33]:
secionesUsuarios.head()

,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead
person,,,,,
0008ed71,3,3.0,0.0,0.0,0.0
00091926,37,2.0,0.0,15.0,0.0
00091a7a,1,0.0,0.0,1.0,0.0
000ba417,9,6.0,1.0,1.0,0.0
000c79fe,1,1.0,0.0,1.0,0.0

In [34]:
secionesUsuarios = secionesUsuarios.reset_index()

In [35]:
secionesUsuarios.columns

Index(['person', 'cant_seciones', 'event_checkout', 'event_conversion',
       'event_ad campaign hit', 'event_lead'],
      dtype='object')

In [36]:
secionesUsuarios.head()

,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead
0,0008ed71,3,3.0,0.0,0.0,0.0
1,00091926,37,2.0,0.0,15.0,0.0
2,00091a7a,1,0.0,0.0,1.0,0.0
3,000ba417,9,6.0,1.0,1.0,0.0
4,000c79fe,1,1.0,0.0,1.0,0.0

Por dispositivo que usa el usuario para entrar al sitio

In [141]:
deviceUsersData.head()

,person,browser_version,operating_system_version,screen_resolution,device_type
0,4886f805,Chrome Mobile 64.0,Android 7,360x640,Smartphone
1,ad93850f,Chrome Mobile 66.0,Android 5.1.1,360x640,Smartphone
2,0297fc1e,Chrome Mobile 61.0,Android 6.0.1,360x640,Smartphone
3,2d681dd8,Chrome 66.0,Windows 8.1,1360x768,Computer
4,cccea85e,Chrome 66.0,Windows 7,1536x864,Computer

In [142]:
deviceUsersData["operating_system_version"].map(lambda x: str(x).split(" ")[0]).value_counts()

Windows       1262240
Android        975740
iOS             73279
Mac             10206
Linux            9456
Ubuntu           3313
nan              2870
Chrome           2376
Other            1048
Tizen             531
BlackBerry        518
Fedora             92
FreeBSD             8
Symbian             4
Name: operating_system_version, dtype: int64

In [143]:
deviceUsersData["operating_system_version"] = deviceUsersData["operating_system_version"].map(lambda x: str(x).split(" ")[0])

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [144]:
deviceUsersData["device_type"].value_counts()

Computer      1276520
Smartphone    1028684
Tablet          29896
Unknown          3711
Name: device_type, dtype: int64

In [145]:
deviceUsersData["device_type"] = deviceUsersData["device_type"].map(lambda x: "otros" if(x == "Tablet" or x=="Unknown") else x)

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [146]:
device_user_type = deviceUsersData[["person","device_type"]]

In [147]:
device_user_type["count"] = 1

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [148]:
device_user_type = device_user_type.groupby(["person","device_type"]).max().unstack().fillna(0).reset_index()

In [149]:
device_user_type.head()

               person    count
device_type           Computer Smartphone otros
0            0008ed71      1.0        0.0   0.0
1            00091926      1.0        0.0   0.0
2            00091a7a      0.0        1.0   0.0
3            000ba417      1.0        0.0   0.0
4            000c79fe      0.0        1.0   0.0

In [150]:
multiindex = device_user_type.columns
multiindex = multiindex.tolist()
multiindex
ind = pd.Index([ (e[1] if e[0]!= "person" else e[0]) for e in multiindex])
device_user_type.columns = ind
device_user_type.head()

     person  Computer  Smartphone  otros
0  0008ed71       1.0         0.0    0.0
1  00091926       1.0         0.0    0.0
2  00091a7a       0.0         1.0    0.0
3  000ba417       1.0         0.0    0.0
4  000c79fe       0.0         1.0    0.0

In [151]:
device_user_system = deviceUsersData[["person","operating_system_version"]]

In [152]:
device_user_system["count"] = 1

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [153]:
device_user_system = device_user_system.groupby(["person","operating_system_version"]).max().unstack().fillna(0).reset_index()

In [154]:
device_user_system.head()

                            person   count                                   \
operating_system_version           Android BlackBerry Chrome Fedora FreeBSD
0                         0008ed71     0.0        0.0    0.0    0.0     0.0
1                         00091926     0.0        0.0    0.0    0.0     0.0
2                         00091a7a     1.0        0.0    0.0    0.0     0.0
3                         000ba417     0.0        0.0    0.0    0.0     0.0
4                         000c79fe     1.0        0.0    0.0    0.0     0.0

                                                                             \
operating_system_version Linux  Mac Other Symbian Tizen Ubuntu Windows  iOS
0                          0.0  0.0   0.0     0.0   0.0    0.0     1.0  0.0
1                          0.0  0.0   0.0     0.0   0.0    0.0     1.0  0.0
2                          0.0  0.0   0.0     0.0   0.0    0.0     0.0  0.0
3                          0.0  0.0   0.0     0.0   0.0    0.0     1.0  0.0
4                          0.0  0.0   0.0     0.0   0.0    0.0     0.0  0.0


operating_system_version  nan
0                         0.0
1                         0.0
2                         0.0
3                         0.0
4                         0.0

In [155]:
multiindex = device_user_system.columns
multiindex = multiindex.tolist()
multiindex
ind = pd.Index([ (e[1] if e[0]!= "person" else e[0]) for e in multiindex])
device_user_system.columns = ind
device_user_system.head()

,person,Android,BlackBerry,Chrome,Fedora,FreeBSD,Linux,Mac,Other,Symbian,Tizen,Ubuntu,Windows,iOS,nan
0,0008ed71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,00091926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,00091a7a,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,000ba417,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,000c79fe,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [156]:
device_user_system = device_user_system[["person","Windows","Android","iOS"]]

Informacion usuarios

In [157]:
infoUserData.head()

,person,search_term,staticpage,campaign_source,search_engine,channel,new_vs_returning,Busca_terminos_populares
0,4886f805,0,NaN,NaN,NaN,NaN,NaN,0
1,ad93850f,0,NaN,NaN,NaN,NaN,NaN,0
2,0297fc1e,0,NaN,NaN,NaN,NaN,NaN,0
3,2d681dd8,0,NaN,NaN,NaN,NaN,NaN,0
4,cccea85e,0,NaN,NaN,NaN,NaN,NaN,0

In [158]:
dic_terminos = {}
for busqueda in infoUserData["search_term"]:
    for term in str(busqueda).split(" "):
        if (not term in dic_terminos.keys()):
            dic_terminos[term] = 1
        else:
            dic_terminos[term]+=1

In [159]:
list_terminos = sorted(dic_terminos.items(), key=lambda kv: kv[1])

In [160]:
list_terminos = list_terminos[::-1]

In [161]:
list_terminos.pop(0)

('0', 2227921)

In [162]:
terminos = []
for name,count in list_terminos:
    if(len(name)>2):
        terminos.append((name,count))

In [163]:
len(terminos)

3640

In [164]:
terminos_populares = terminos[:30]

In [165]:
infoUserData["search_term"] = infoUserData["search_term"].fillna("0")

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [166]:
def verificarPopularidadElTermino(string,terminospopulares):
    if (string==0):
        return False
    for palabra in string.split(" "):
        
        if(palabra in [name for name,count in terminospopulares]):
            return True
        
    return False

In [167]:
infoUserData["Busca_terminos_populares"] = infoUserData["search_term"].map(lambda x:1 if(verificarPopularidadElTermino(x,terminos_populares)) else 0)

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [168]:
infoUserData["Busca_terminos_populares"].value_counts()

0    2262364
1      79317
Name: Busca_terminos_populares, dtype: int64

In [169]:
infoUserData.head()

,person,search_term,staticpage,campaign_source,search_engine,channel,new_vs_returning,Busca_terminos_populares
0,4886f805,0,NaN,NaN,NaN,NaN,NaN,0
1,ad93850f,0,NaN,NaN,NaN,NaN,NaN,0
2,0297fc1e,0,NaN,NaN,NaN,NaN,NaN,0
3,2d681dd8,0,NaN,NaN,NaN,NaN,NaN,0
4,cccea85e,0,NaN,NaN,NaN,NaN,NaN,0

In [170]:
infoUserData["channel"].value_counts()

Paid        91753
Direct      50675
Referral    33990
Organic     25867
Social       1406
Email         371
Unknown         7
Name: channel, dtype: int64

In [171]:
infoUserData["search_engine"].value_counts() #Tira todo a google

Google    105195
Bing         676
Yahoo        519
Ask           16
Name: search_engine, dtype: int64

In [172]:
infoUserData["staticpage"].value_counts()

CustomerService                      5239
FaqEcommerce                         1317
AboutUs                              1217
Quiosks                               868
trust-trocafone                       632
TermsAndConditionsReturnEcommerce     528
galaxy-s8                             380
Conditions                            285
how-to-sell                           234
how-to-buy                            232
TermsAndConditionsEcommerce           119
club-trocafone                        107
PrivacyEcommerce                       28
black_friday                           15
Name: staticpage, dtype: int64

In [173]:
infoUserData["campaign_source"].value_counts()

google              123354
criteo               24931
rtbhouse             23540
zanox                 7013
emblue                3653
afilio                1913
manifest              1365
FacebookAds           1301
voxus                  971
rakuten                843
bing                   839
datacrush              433
indexa                 313
buscape                271
Facebook               203
afiliado                92
blog                    88
mercadopago             74
yotpo                   54
onsite                  12
FacebookSocial          12
MARKETING SOCIAL         7
gizmodo                  4
Name: campaign_source, dtype: int64

In [174]:
person_campaing = infoUserData[["person","campaign_source"]]
person_channel = infoUserData[["person","channel"]]

In [175]:
person_term = infoUserData[["person","Busca_terminos_populares"]]

In [176]:
person_term.head()

     person  Busca_terminos_populares
0  4886f805                         0
1  ad93850f                         0
2  0297fc1e                         0
3  2d681dd8                         0
4  cccea85e                         0

In [177]:
person_term = person_term.groupby("person",as_index = False).sum()

In [178]:
person_term.head()

     person  Busca_terminos_populares
0  0008ed71                         0
1  00091926                         0
2  00091a7a                         0
3  000ba417                         0
4  000c79fe                         8

In [179]:
person_campaing = person_campaing.dropna()

In [180]:
person_campaing.head()

      person campaign_source
9   45baf068          google
14  45baf068          google
20  29ebb414          google
34  2a724d87          google
38  15ea8012          google

In [181]:
person_campaing = pd.get_dummies(person_campaing, columns=["campaign_source"])

In [182]:
person_campaing.head()

,person,campaign_source_Facebook,campaign_source_FacebookAds,campaign_source_FacebookSocial,campaign_source_MARKETING SOCIAL,campaign_source_afiliado,campaign_source_afilio,campaign_source_bing,campaign_source_blog,campaign_source_buscape,...,campaign_source_google,campaign_source_indexa,campaign_source_manifest,campaign_source_mercadopago,campaign_source_onsite,campaign_source_rakuten,campaign_source_rtbhouse,campaign_source_voxus,campaign_source_yotpo,campaign_source_zanox
9,45baf068,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
14,45baf068,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20,29ebb414,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
34,2a724d87,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
38,15ea8012,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [183]:
person_campaing = person_campaing[["person","campaign_source_google","campaign_source_criteo","campaign_source_rtbhouse"]]

In [184]:
person_campaing = person_campaing.groupby("person",as_index=False).sum()

In [185]:
person_channel = person_channel.dropna()

In [186]:
person_channel.head()

           person  channel
2136629  4640420b     Paid
2136630  4640420b     Paid
2136631  4640420b     Paid
2136632  4640420b     Paid
2136633  4640420b  Organic

In [187]:
person_channel = pd.get_dummies(person_channel, columns=["channel"])

In [188]:
person_channel.head()

,person,channel_Direct,channel_Email,channel_Organic,channel_Paid,channel_Referral,channel_Social,channel_Unknown
2136629,4640420b,0,0,0,1,0,0,0
2136630,4640420b,0,0,0,1,0,0,0
2136631,4640420b,0,0,0,1,0,0,0
2136632,4640420b,0,0,0,1,0,0,0
2136633,4640420b,0,0,1,0,0,0,0

In [189]:
person_channel = person_channel[["person","channel_Direct","channel_Paid","channel_Organic","channel_Referral"]]

In [190]:
person_channel = person_channel.groupby("person",as_index=False).sum()

Productos visto por el usuario

In [191]:
productData.head()

,person,marca_apple,marca_asus,marca_lenovo,marca_lg,marca_motorola,marca_samsung,marca_sony,condition_Bom,condition_Bom - Sem Touch ID,...,version_moto g2,version_galaxy s6,storage_128GB,storage_16GB,storage_256GB,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB
0,000ba417,0,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
1,001001be,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,001804a2,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
3,0019e639,0,0,0,0,1,1,0,1,0,...,1,0,0,1,0,0,0,0,0,1
4,001b0bf9,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [105]:
productData["condition"].value_counts()

Bom                   547617
Excelente             378697
Muito Bom             359053
Bom - Sem Touch ID     31742
Novo                    3421
Name: condition, dtype: int64

In [106]:
productData["storage"].value_counts()

16GB     442096
32GB     430283
64GB     228413
128GB     99345
8GB       96019
256GB     17623
4GB        5409
512MB      1342
Name: storage, dtype: int64

In [107]:
productData["model"] = productData["model"].fillna("Desconocido")
productData["marca"] = productData["model"].map(lambda x:"apple" if(x.split(" ")[0] in ["iphone","ipad"]) else x.split(" ")[0])

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [108]:
productData["marca"].value_counts()

Desconocido    893560
apple          643135
samsung        564336
motorola       177813
lg              27472
sony            16672
lenovo          11848
asus             5041
quantum          1737
ofertas            26
list               24
nokia              15
xiaomi              1
outros              1
Name: marca, dtype: int64

In [109]:
productData["version"] = productData["model"].map(lambda x:" ".join(x.split(" ")[0:2]) if(x.split(" ")[0] in ["iphone","ipad"]) else " ".join(x.split(" ")[1:3]))
productData["version"].value_counts()

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

                 905497
iphone 6         147600
iphone 6s        144700
iphone 5s        108058
iphone 7         107571
galaxy s7         96659
galaxy s6         76769
galaxy s8         58797
galaxy j7         51695
galaxy j5         48966
iphone se         39086
moto g4           38921
galaxy a5         36331
galaxy s5         34274
galaxy note       33937
iphone 5c         29797
galaxy a7         28334
moto x            27335
moto g5           25950
iphone 5          19876
moto g3           19328
moto z            18165
iphone 4s         15478
galaxy gran       13724
moto g2           13386
moto x2           13155
galaxy j2         10800
galaxy s4          9093
iphone             8926
xperia z3          8548
                  ...
muv pro              46
gear s3              45
muv up               38
x screen             34
razr i               31
moto g1a             29
live                 28
galaxy young         27
pre venda            26
l80 dual             21
ipad                 15
g pro                 6
l90 dual              6
galaxy pocket         6
go 3g                 5
g2                    5
tablet galaxy         4
l70 triple            4
g2 mini               4
moto g1               3
razr hd               3
nexus 4               2
xperia z              2
galaxy s              2
moto e1               1
redmi 2               1
razr d3               1
tv led                1
optimus l7            1
moto e4               1
Name: version, dtype: int64

In [110]:
users_view_list = productData[["person","skus"]]

In [111]:
users_view_list["skus"].isnull().value_counts()

True     1835732
False     505949
Name: skus, dtype: int64

In [112]:
productData = productData[(productData["event"] == "conversion")]

In [113]:
productData.head()

,person,event,sku,model,condition,storage,skus,marca,version
195,49c19e32,conversion,2683.0,iphone 5c,Bom,16GB,NaN,apple,iphone 5c
234,49c19e32,conversion,2683.0,iphone 5c,Bom,16GB,NaN,apple,iphone 5c
724,39df97e0,conversion,9358.0,samsung galaxy j2 prime tv,Excelente,8GB,NaN,samsung,galaxy j2
744,380c0e60,conversion,6314.0,samsung galaxy note 5,Muito Bom,32GB,NaN,samsung,galaxy note
1198,35ee0cc8,conversion,10924.0,samsung galaxy a5 2017,Bom,32GB,NaN,samsung,galaxy a5

In [114]:
productData = productData[["person","marca","condition","version","storage"]]

In [115]:
productData.head()

        person    marca  condition      version storage
195   49c19e32    apple        Bom    iphone 5c    16GB
234   49c19e32    apple        Bom    iphone 5c    16GB
724   39df97e0  samsung  Excelente    galaxy j2     8GB
744   380c0e60  samsung  Muito Bom  galaxy note    32GB
1198  35ee0cc8  samsung        Bom    galaxy a5    32GB

In [116]:
productData["marca"].value_counts()

samsung     3615
apple       2031
motorola    1104
lg           161
lenovo        99
sony          56
asus          22
quantum        3
Name: marca, dtype: int64

In [117]:
productData["version"].value_counts()

galaxy j5       605
iphone 6        499
iphone 5s       496
galaxy j7       412
iphone 6s       368
galaxy s7       323
moto g2         298
galaxy s6       296
moto g4         278
galaxy s5       272
galaxy a5       251
galaxy gran     218
galaxy j2       214
iphone 7        188
galaxy s8       166
moto g3         136
moto g5         134
iphone 4s       122
galaxy j1       117
iphone 5c       110
galaxy win      109
galaxy core     104
galaxy a7        96
galaxy note      95
vibe k5          81
galaxy s4        78
iphone 5         78
iphone se        74
moto x           64
galaxy s3        62
               ...
k4               12
galaxy tab       12
k10              11
xperia z3        11
iphone x         10
moto g5s         10
galaxy y          9
g4 h815p          8
g4 h818p          7
zenfone 2         7
galaxy young      6
g5 se             5
g4 stylus         5
k8                5
galaxy e7         4
galaxy e5         4
ipad mini         4
g4 beat           4
prime plus        4
nexus 5           3
x power           3
g3 stylus         3
muv               2
ipad 3            2
xperia z5         2
g3 beat           1
ipad air          1
go 4g             1
zenfone 5         1
 x                1
Name: version, dtype: int64

In [118]:
productData["condition"].value_counts()

Bom                   2921
Muito Bom             2143
Excelente             1902
Bom - Sem Touch ID     122
Novo                     3
Name: condition, dtype: int64

In [119]:
productData= pd.get_dummies(productData, columns=["marca","condition","version","storage"])

In [120]:
productData = productData.groupby("person",as_index=False).sum()

In [121]:
productData.columns

Index(['person', 'marca_apple', 'marca_asus', 'marca_lenovo', 'marca_lg',
       'marca_motorola', 'marca_quantum', 'marca_samsung', 'marca_sony',
       'condition_Bom',
       ...
       'version_zenfone 3', 'version_zenfone 5', 'storage_128GB',
       'storage_16GB', 'storage_256GB', 'storage_32GB', 'storage_4GB',
       'storage_512MB', 'storage_64GB', 'storage_8GB'],
      dtype='object', length=102)

In [122]:
productData = productData.drop(["marca_quantum","condition_Novo"],axis = 1)

In [123]:
productData.head()

,person,marca_apple,marca_asus,marca_lenovo,marca_lg,marca_motorola,marca_samsung,marca_sony,condition_Bom,condition_Bom - Sem Touch ID,...,version_zenfone 3,version_zenfone 5,storage_128GB,storage_16GB,storage_256GB,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB
0,000ba417,0,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
1,001001be,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,001804a2,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
3,0019e639,0,0,0,0,1,1,0,1,0,...,0,0,0,1,0,0,0,0,0,1
4,001b0bf9,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [124]:
productData.columns

Index(['person', 'marca_apple', 'marca_asus', 'marca_lenovo', 'marca_lg',
       'marca_motorola', 'marca_samsung', 'marca_sony', 'condition_Bom',
       'condition_Bom - Sem Touch ID', 'condition_Excelente',
       'condition_Muito Bom', 'version_ x', 'version_g3 beat',
       'version_g3 d855', 'version_g3 stylus', 'version_g4 beat',
       'version_g4 h815p', 'version_g4 h818p', 'version_g4 stylus',
       'version_g5 se', 'version_galaxy a3', 'version_galaxy a5',
       'version_galaxy a7', 'version_galaxy a9', 'version_galaxy core',
       'version_galaxy e5', 'version_galaxy e7', 'version_galaxy gran',
       'version_galaxy grand', 'version_galaxy j1', 'version_galaxy j2',
       'version_galaxy j3', 'version_galaxy j5', 'version_galaxy j7',
       'version_galaxy note', 'version_galaxy on', 'version_galaxy s3',
       'version_galaxy s4', 'version_galaxy s5', 'version_galaxy s6',
       'version_galaxy s7', 'version_galaxy s8', 'version_galaxy tab',
       'version_galaxy win', 'version_galaxy y', 'version_galaxy young',
       'version_go 4g', 'version_ipad 3', 'version_ipad air',
       'version_ipad mini', 'version_iphone 4g', 'version_iphone 4s',
       'version_iphone 5', 'version_iphone 5c', 'version_iphone 5s',
       'version_iphone 6', 'version_iphone 6s', 'version_iphone 7',
       'version_iphone 8', 'version_iphone se', 'version_iphone x',
       'version_k10', 'version_k10 novo', 'version_k10 tv', 'version_k4',
       'version_k8', 'version_l prime', 'version_moto e2', 'version_moto g2',
       'version_moto g3', 'version_moto g4', 'version_moto g5',
       'version_moto g5s', 'version_moto maxx', 'version_moto x',
       'version_moto x2', 'version_moto z', 'version_moto z2', 'version_muv',
       'version_nexus 5', 'version_prime plus', 'version_vibe a7010',
       'version_vibe k5', 'version_x power', 'version_xperia m4',
       'version_xperia z2', 'version_xperia z3', 'version_xperia z5',
       'version_zenfone 2', 'version_zenfone 3', 'version_zenfone 5',
       'storage_128GB', 'storage_16GB', 'storage_256GB', 'storage_32GB',
       'storage_4GB', 'storage_512MB', 'storage_64GB', 'storage_8GB'],
      dtype='object')

In [125]:
productData = productData[['person', 'marca_apple', 'marca_asus', 'marca_lenovo', 'marca_lg',
       'marca_motorola', 'marca_samsung', 'marca_sony', 'condition_Bom',
       'condition_Bom - Sem Touch ID', 'condition_Excelente',
       'condition_Muito Bom',"version_galaxy j7","version_galaxy j5","version_galaxy s7","version_iphone 6","version_iphone 5s","version_iphone 6s","version_moto g4","version_moto g2","version_galaxy s6",'storage_128GB', 'storage_16GB', 'storage_256GB', 'storage_32GB',
       'storage_4GB', 'storage_512MB', 'storage_64GB', 'storage_8GB']]

In [126]:
productData.head()

,person,marca_apple,marca_asus,marca_lenovo,marca_lg,marca_motorola,marca_samsung,marca_sony,condition_Bom,condition_Bom - Sem Touch ID,...,version_moto g2,version_galaxy s6,storage_128GB,storage_16GB,storage_256GB,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB
0,000ba417,0,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
1,001001be,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,001804a2,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
3,0019e639,0,0,0,0,1,1,0,1,0,...,1,0,0,1,0,0,0,0,0,1
4,001b0bf9,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [127]:
users_view_list.head()

     person skus
0  4886f805  NaN
1  ad93850f  NaN
2  0297fc1e  NaN
3  2d681dd8  NaN
4  cccea85e  NaN

In [128]:
users_view_list["skus"] = users_view_list["skus"].fillna(0)

In [129]:
users_view_list["skus"] = users_view_list["skus"].map(lambda x:0 if(x == 0) else 1)

In [130]:
users_view_list = users_view_list.groupby("person",as_index=False).max()

Features geograficos

In [192]:
geoData.head()

     person           event       city          region country
0  4886f805  viewed product  Cantagalo  Rio de Janeiro  Brazil
1  ad93850f  viewed product  So Paulo       Sao Paulo  Brazil
2  0297fc1e  viewed product    Niteri  Rio de Janeiro  Brazil
3  2d681dd8  viewed product  Juquitiba       Sao Paulo  Brazil
4  cccea85e  viewed product     Osasco       Sao Paulo  Brazil

In [193]:
geoData = geoData[geoData["event"] == "conversion"]

In [194]:
region = geoData[["person","region"]]

In [206]:
region = region.drop_duplicates(subset = "person", keep = "first")

In [210]:
(region["region"].value_counts() > 50).value_counts()

False    29
True     15
Name: region, dtype: int64

In [218]:
region["region"] = region["region"].fillna(0)

In [219]:
sell_region = region["region"].value_counts()

In [220]:
region["ventas_region"] = region["region"].map(lambda x: sell_region[x])

In [221]:
region.head()

        person        region  ventas_region
195   49c19e32     Sao Paulo           1213
724   39df97e0  Minas Gerais            421
744   380c0e60     Sao Paulo           1213
1198  35ee0cc8       Unknown            756
2124  c5a0bc36       Unknown            756

In [222]:
esBrasilero = geoData[["person","country"]]

In [223]:
esBrasilero["Brasilero"] = esBrasilero["country"].map(lambda x: 1 if(x == "Brazil") else 0)

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [224]:
esBrasilero = esBrasilero[["person","Brasilero"]]

In [225]:
esBrasilero = esBrasilero.groupby("person",as_index=False).max()

Mergeo todos mis resultados de los nuevos features

In [226]:
secionesUsuarios.head()

,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead
0,0008ed71,3,3.0,0.0,0.0,0.0
1,00091926,37,2.0,0.0,15.0,0.0
2,00091a7a,1,0.0,0.0,1.0,0.0
3,000ba417,9,6.0,1.0,1.0,0.0
4,000c79fe,1,1.0,0.0,1.0,0.0

In [227]:
device_user_type.head()

     person  Computer  Smartphone  otros
0  0008ed71       1.0         0.0    0.0
1  00091926       1.0         0.0    0.0
2  00091a7a       0.0         1.0    0.0
3  000ba417       1.0         0.0    0.0
4  000c79fe       0.0         1.0    0.0

In [228]:
person_term.head()

     person  Busca_terminos_populares
0  0008ed71                         0
1  00091926                         0
2  00091a7a                         0
3  000ba417                         0
4  000c79fe                         8

In [229]:
productData.head()

,person,marca_apple,marca_asus,marca_lenovo,marca_lg,marca_motorola,marca_samsung,marca_sony,condition_Bom,condition_Bom - Sem Touch ID,...,version_moto g2,version_galaxy s6,storage_128GB,storage_16GB,storage_256GB,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB
0,000ba417,0,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
1,001001be,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,001804a2,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
3,0019e639,0,0,0,0,1,1,0,1,0,...,1,0,0,1,0,0,0,0,0,1
4,001b0bf9,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [230]:
users_view_list.head()

     person  skus
0  0008ed71     1
1  00091926     1
2  00091a7a     1
3  000ba417     1
4  000c79fe     1

In [231]:
secionesUsuarios.columns

Index(['person', 'cant_seciones', 'event_checkout', 'event_conversion',
       'event_ad campaign hit', 'event_lead'],
      dtype='object')

In [232]:
secionesUsuariosReducido = secionesUsuarios#[["person","cant_seciones5","cant_seciones4","cant_seciones3","event_checkout5","event_checkout4","event_conversion5","event_conversion4","event_ad campaign hit4","event_ad campaign hit5","event_lead5","event_lead4"]]

In [233]:
secionesUsuariosReducido.head()

,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead
0,0008ed71,3,3.0,0.0,0.0,0.0
1,00091926,37,2.0,0.0,15.0,0.0
2,00091a7a,1,0.0,0.0,1.0,0.0
3,000ba417,9,6.0,1.0,1.0,0.0
4,000c79fe,1,1.0,0.0,1.0,0.0

In [234]:
dataTrocafone = pd.merge(secionesUsuariosReducido,users_view_list,on="person",how = "outer")

In [235]:
dataTrocafone.head()

,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead,skus
0,0008ed71,3,3.0,0.0,0.0,0.0,1
1,00091926,37,2.0,0.0,15.0,0.0,1
2,00091a7a,1,0.0,0.0,1.0,0.0,1
3,000ba417,9,6.0,1.0,1.0,0.0,1
4,000c79fe,1,1.0,0.0,1.0,0.0,1

In [236]:
dataTrocafone = pd.merge(dataTrocafone,person_term,on="person",how="outer")

In [237]:
dataTrocafone = pd.merge(dataTrocafone,device_user_type,on="person",how="outer")

In [238]:
dataTrocafone["Computer"] = dataTrocafone["Computer"].fillna(0)

In [239]:
dataTrocafone["Smartphone"] = dataTrocafone["Smartphone"].fillna(0)

In [240]:
dataTrocafone["otros"] = dataTrocafone["otros"].fillna(0)

In [241]:
dataTrocafone = dataTrocafone.fillna(0)

In [242]:
dataTrocafone.columns

Index(['person', 'cant_seciones', 'event_checkout', 'event_conversion',
       'event_ad campaign hit', 'event_lead', 'skus',
       'Busca_terminos_populares', 'Computer', 'Smartphone', 'otros'],
      dtype='object')

In [243]:
dataTrocafone.head()

,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead,skus,Busca_terminos_populares,Computer,Smartphone,otros
0,0008ed71,3,3.0,0.0,0.0,0.0,1,0,1.0,0.0,0.0
1,00091926,37,2.0,0.0,15.0,0.0,1,0,1.0,0.0,0.0
2,00091a7a,1,0.0,0.0,1.0,0.0,1,0,0.0,1.0,0.0
3,000ba417,9,6.0,1.0,1.0,0.0,1,0,1.0,0.0,0.0
4,000c79fe,1,1.0,0.0,1.0,0.0,1,8,0.0,1.0,0.0

In [244]:
dataTrocafone = pd.merge(dataTrocafone,productData,on="person",how="outer")

In [245]:
dataTrocafone.columns

Index(['person', 'cant_seciones', 'event_checkout', 'event_conversion',
       'event_ad campaign hit', 'event_lead', 'skus',
       'Busca_terminos_populares', 'Computer', 'Smartphone', 'otros',
       'marca_apple', 'marca_asus', 'marca_lenovo', 'marca_lg',
       'marca_motorola', 'marca_samsung', 'marca_sony', 'condition_Bom',
       'condition_Bom - Sem Touch ID', 'condition_Excelente',
       'condition_Muito Bom', 'version_galaxy j7', 'version_galaxy j5',
       'version_galaxy s7', 'version_iphone 6', 'version_iphone 5s',
       'version_iphone 6s', 'version_moto g4', 'version_moto g2',
       'version_galaxy s6', 'storage_128GB', 'storage_16GB', 'storage_256GB',
       'storage_32GB', 'storage_4GB', 'storage_512MB', 'storage_64GB',
       'storage_8GB'],
      dtype='object')

In [246]:
users_partedeldia.head()

,person,Parte del dia_Madrugada,Parte del dia_Maana,Parte del dia_Noche,Parte del dia_Tarde
0,0008ed71,0.0,0.0,1.0,5.0
1,00091926,196.0,0.0,252.0,0.0
2,00091a7a,0.0,0.0,0.0,10.0
3,000ba417,0.0,57.0,43.0,106.0
4,000c79fe,0.0,0.0,17.0,0.0

In [247]:
dataTrocafone = pd.merge(dataTrocafone,users_partedeldia,on="person",how="left")

In [248]:
dataTrocafone = pd.merge(dataTrocafone,person_campaing,on="person",how="outer")

In [249]:
dataTrocafone = pd.merge(dataTrocafone,person_channel,on="person",how="outer")

In [250]:
dataTrocafone = pd.merge(dataTrocafone,esBrasilero,on="person",how="outer")

In [251]:
dataTrocafone = dataTrocafone.fillna(0)

In [252]:
dataTrocafone = pd.merge(dataTrocafone,region,on="person",how="outer")

In [256]:
dataTrocafone = dataTrocafone.drop("region",axis=1)

In [258]:
dataTrocafone["ventas_region"] = dataTrocafone["ventas_region"].fillna(0)

In [259]:
dataTrocafone.head()

,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead,skus,Busca_terminos_populares,Computer,Smartphone,...,Parte del dia_Tarde,campaign_source_google,campaign_source_criteo,campaign_source_rtbhouse,channel_Direct,channel_Paid,channel_Organic,channel_Referral,Brasilero,ventas_region
0,0008ed71,3,3.0,0.0,0.0,0.0,1,0,1.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
1,00091926,37,2.0,0.0,15.0,0.0,1,0,1.0,0.0,...,0.0,13.0,1.0,1.0,25.0,8.0,0.0,1.0,0.0,0.0
2,00091a7a,1,0.0,0.0,1.0,0.0,1,0,0.0,1.0,...,10.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,000ba417,9,6.0,1.0,1.0,0.0,1,0,1.0,0.0,...,106.0,1.0,0.0,0.0,6.0,0.0,0.0,0.0,1.0,1213.0
4,000c79fe,1,1.0,0.0,1.0,0.0,1,8,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [260]:
dataTrocafone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38829 entries, 0 to 38828
Data columns (total 52 columns):
person                          38829 non-null object
cant_seciones                   38829 non-null int64
event_checkout                  38829 non-null float64
event_conversion                38829 non-null float64
event_ad campaign hit           38829 non-null float64
event_lead                      38829 non-null float64
skus                            38829 non-null int64
Busca_terminos_populares        38829 non-null int64
Computer                        38829 non-null float64
Smartphone                      38829 non-null float64
otros                           38829 non-null float64
marca_apple                     38829 non-null float64
marca_asus                      38829 non-null float64
marca_lenovo                    38829 non-null float64
marca_lg                        38829 non-null float64
marca_motorola                  38829 non-null float64
marca_samsung                   38829 non-null float64
marca_sony                      38829 non-null float64
condition_Bom                   38829 non-null float64
condition_Bom - Sem Touch ID    38829 non-null float64
condition_Excelente             38829 non-null float64
condition_Muito Bom             38829 non-null float64
version_galaxy j7               38829 non-null float64
version_galaxy j5               38829 non-null float64
version_galaxy s7               38829 non-null float64
version_iphone 6                38829 non-null float64
version_iphone 5s               38829 non-null float64
version_iphone 6s               38829 non-null float64
version_moto g4                 38829 non-null float64
version_moto g2                 38829 non-null float64
version_galaxy s6               38829 non-null float64
storage_128GB                   38829 non-null float64
storage_16GB                    38829 non-null float64
storage_256GB                   38829 non-null float64
storage_32GB                    38829 non-null float64
storage_4GB                     38829 non-null float64
storage_512MB                   38829 non-null float64
storage_64GB                    38829 non-null float64
storage_8GB                     38829 non-null float64
Parte del dia_Madrugada         38829 non-null float64
Parte del dia_Maana            38829 non-null float64
Parte del dia_Noche             38829 non-null float64
Parte del dia_Tarde             38829 non-null float64
campaign_source_google          38829 non-null float64
campaign_source_criteo          38829 non-null float64
campaign_source_rtbhouse        38829 non-null float64
channel_Direct                  38829 non-null float64
channel_Paid                    38829 non-null float64
channel_Organic                 38829 non-null float64
channel_Referral                38829 non-null float64
Brasilero                       38829 non-null float64
ventas_region                   38829 non-null float64
dtypes: float64(48), int64(3), object(1)
memory usage: 15.7+ MB

Armo el set de training y el de test

In [261]:
trainingSet = pd.read_csv("data/labels_training_set.csv", low_memory = False)

In [262]:
trainingSet.head()

     person  label
0  0566e9c1      0
1  6ec7ee77      0
2  abe7a2fb      0
3  34728364      0
4  87ed62de      0

In [263]:
trainingSet["person"].count()

19414

In [264]:
dataTrocafone["person"].count()

38829

In [265]:
setTraining = pd.merge(dataTrocafone,trainingSet,on="person",how = "inner")

In [266]:
setTraining.head()

,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead,skus,Busca_terminos_populares,Computer,Smartphone,...,campaign_source_google,campaign_source_criteo,campaign_source_rtbhouse,channel_Direct,channel_Paid,channel_Organic,channel_Referral,Brasilero,ventas_region,label
0,0008ed71,3,3.0,0.0,0.0,0.0,1,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0
1,000c79fe,1,1.0,0.0,1.0,0.0,1,8,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
2,001802e4,1,1.0,0.0,5.0,0.0,1,0,0.0,1.0,...,5.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
3,0019e639,21,15.0,2.0,29.0,0.0,1,3,1.0,0.0,...,17.0,5.0,7.0,0.0,16.0,2.0,1.0,1.0,1213.0,0
4,001b0bf9,1,2.0,1.0,0.0,0.0,1,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.0,0

In [267]:
setTraining.columns

Index(['person', 'cant_seciones', 'event_checkout', 'event_conversion',
       'event_ad campaign hit', 'event_lead', 'skus',
       'Busca_terminos_populares', 'Computer', 'Smartphone', 'otros',
       'marca_apple', 'marca_asus', 'marca_lenovo', 'marca_lg',
       'marca_motorola', 'marca_samsung', 'marca_sony', 'condition_Bom',
       'condition_Bom - Sem Touch ID', 'condition_Excelente',
       'condition_Muito Bom', 'version_galaxy j7', 'version_galaxy j5',
       'version_galaxy s7', 'version_iphone 6', 'version_iphone 5s',
       'version_iphone 6s', 'version_moto g4', 'version_moto g2',
       'version_galaxy s6', 'storage_128GB', 'storage_16GB', 'storage_256GB',
       'storage_32GB', 'storage_4GB', 'storage_512MB', 'storage_64GB',
       'storage_8GB', 'Parte del dia_Madrugada', 'Parte del dia_Maana',
       'Parte del dia_Noche', 'Parte del dia_Tarde', 'campaign_source_google',
       'campaign_source_criteo', 'campaign_source_rtbhouse', 'channel_Direct',
       'channel_Paid', 'channel_Organic', 'channel_Referral', 'Brasilero',
       'ventas_region', 'label'],
      dtype='object')

In [268]:
setTraining["person"].count()

19414

In [269]:
setTraining.to_csv('setEntrenamiento.csv')

In [270]:
kaggle_test = pd.read_csv("data/trocafone_kaggle_test.csv", low_memory = False)

In [271]:
kaggle_test["person"].count()

19415

In [272]:
test = pd.merge(kaggle_test,dataTrocafone,on="person",how="inner")

In [273]:
test["person"].count()

19415

In [274]:
test.to_csv("setTest.csv")