In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
eventsData = pd.read_csv(r"C:\Users\brian\Documents\GitHub\TP2DATOS\Eventos(+completo).csv",low_memory = False)

In [3]:
eventsData.columns

Index(['Unnamed: 0', 'timestamp', 'event', 'person', 'url', 'sku', 'model',
       'condition', 'storage', 'color', 'skus', 'search_term', 'staticpage',
       'campaign_source', 'search_engine', 'channel', 'new_vs_returning',
       'city', 'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'Parte del dia'],
      dtype='object')

In [4]:
conversiones = eventsData[eventsData["event"] == "conversion"]

In [5]:
conversiones.head()

,Unnamed: 0,timestamp,event,person,url,sku,model,condition,storage,color,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,Parte del dia
195,195,2018-05-18 01:12:20,conversion,49c19e32,NaN,2683.0,iphone 5c,Bom,16GB,Rosa,...,NaN,NaN,São Paulo,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,Madrugada
234,234,2018-05-18 01:05:23,conversion,49c19e32,NaN,2683.0,iphone 5c,Bom,16GB,Rosa,...,NaN,NaN,São Paulo,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,Madrugada
724,724,2018-05-29 07:51:14,conversion,39df97e0,NaN,9358.0,samsung galaxy j2 prime tv,Excelente,8GB,Rosa,...,NaN,NaN,Juiz de Fora,Minas Gerais,Brazil,Smartphone,360x640,Android 7.1.1,Chrome Mobile 64.0,Mañana
744,744,2018-05-29 07:13:30,conversion,380c0e60,NaN,6314.0,samsung galaxy note 5,Muito Bom,32GB,Preto,...,NaN,NaN,São Paulo,Sao Paulo,Brazil,Smartphone,320x480,Android 4.4.4,Facebook 94,Mañana
1198,1198,2018-05-29 19:31:46,conversion,35ee0cc8,NaN,10924.0,samsung galaxy a5 2017,Bom,32GB,Dourado,...,NaN,NaN,Unknown,Unknown,Unknown,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,Noche

In [6]:
conversiones["marca"] = conversiones["model"].map(lambda x:"apple" if(x.split(" ")[0] in ["iphone","ipad"]) else x.split(" ")[0])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [7]:
conversiones["version"] = conversiones["model"].map(lambda x:" ".join(x.split(" ")[0:2]) if(x.split(" ")[0] in ["iphone","ipad"]) else " ".join(x.split(" ")[1:3]))
conversiones["version"].value_counts()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

galaxy j5       605
iphone 6        499
iphone 5s       496
galaxy j7       412
iphone 6s       368
galaxy s7       323
moto g2         298
galaxy s6       296
moto g4         278
galaxy s5       272
galaxy a5       251
galaxy gran     218
galaxy j2       214
iphone 7        188
galaxy s8       166
moto g3         136
moto g5         134
iphone 4s       122
galaxy j1       117
iphone 5c       110
galaxy win      109
galaxy core     104
galaxy a7        96
galaxy note      95
vibe k5          81
iphone 5         78
galaxy s4        78
iphone se        74
moto x           64
galaxy s3        62
               ...
k4               12
galaxy tab       12
k10              11
xperia z3        11
iphone x         10
moto g5s         10
galaxy y          9
g4 h815p          8
zenfone 2         7
g4 h818p          7
galaxy young      6
k8                5
g5 se             5
g4 stylus         5
prime plus        4
galaxy e7         4
ipad mini         4
galaxy e5         4
g4 beat           4
x power           3
nexus 5           3
g3 stylus         3
xperia z5         2
muv               2
ipad 3            2
zenfone 5         1
go 4g             1
g3 beat           1
 x                1
ipad air          1
Name: version, Length: 80, dtype: int64

In [8]:
conversiones.head()

,Unnamed: 0,timestamp,event,person,url,sku,model,condition,storage,color,...,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,Parte del dia,marca,version
195,195,2018-05-18 01:12:20,conversion,49c19e32,NaN,2683.0,iphone 5c,Bom,16GB,Rosa,...,São Paulo,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,Madrugada,apple,iphone 5c
234,234,2018-05-18 01:05:23,conversion,49c19e32,NaN,2683.0,iphone 5c,Bom,16GB,Rosa,...,São Paulo,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,Madrugada,apple,iphone 5c
724,724,2018-05-29 07:51:14,conversion,39df97e0,NaN,9358.0,samsung galaxy j2 prime tv,Excelente,8GB,Rosa,...,Juiz de Fora,Minas Gerais,Brazil,Smartphone,360x640,Android 7.1.1,Chrome Mobile 64.0,Mañana,samsung,galaxy j2
744,744,2018-05-29 07:13:30,conversion,380c0e60,NaN,6314.0,samsung galaxy note 5,Muito Bom,32GB,Preto,...,São Paulo,Sao Paulo,Brazil,Smartphone,320x480,Android 4.4.4,Facebook 94,Mañana,samsung,galaxy note
1198,1198,2018-05-29 19:31:46,conversion,35ee0cc8,NaN,10924.0,samsung galaxy a5 2017,Bom,32GB,Dourado,...,Unknown,Unknown,Unknown,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,Noche,samsung,galaxy a5

In [9]:
conversiones = conversiones[["person","timestamp","marca","model"]]

In [10]:
conversiones.head()

        person            timestamp    marca                       model
195   49c19e32  2018-05-18 01:12:20    apple                   iphone 5c
234   49c19e32  2018-05-18 01:05:23    apple                   iphone 5c
724   39df97e0  2018-05-29 07:51:14  samsung  samsung galaxy j2 prime tv
744   380c0e60  2018-05-29 07:13:30  samsung       samsung galaxy note 5
1198  35ee0cc8  2018-05-29 19:31:46  samsung      samsung galaxy a5 2017

In [11]:
marcas = conversiones["marca"].value_counts()

In [12]:
marcas

samsung     3615
apple       2031
motorola    1104
lg           161
lenovo        99
sony          56
asus          22
quantum        3
Name: marca, dtype: int64

In [13]:
prob_marcas = marcas/conversiones["person"].count()

In [14]:
prob_marcas

samsung     0.509801
apple       0.286419
motorola    0.155690
lg          0.022705
lenovo      0.013961
sony        0.007897
asus        0.003103
quantum     0.000423
Name: marca, dtype: float64

In [15]:
modelos = conversiones["model"].value_counts()

In [16]:
prob_model = modelos/conversiones["person"].count()

In [17]:
prob_model.head()

samsung galaxy j5           0.073191
iphone 5s                   0.069948
iphone 6                    0.056127
iphone 6s                   0.043294
motorola moto g2 3g dual    0.038358
Name: model, dtype: float64

In [18]:
conversiones.head()

        person            timestamp    marca                       model
195   49c19e32  2018-05-18 01:12:20    apple                   iphone 5c
234   49c19e32  2018-05-18 01:05:23    apple                   iphone 5c
724   39df97e0  2018-05-29 07:51:14  samsung  samsung galaxy j2 prime tv
744   380c0e60  2018-05-29 07:13:30  samsung       samsung galaxy note 5
1198  35ee0cc8  2018-05-29 19:31:46  samsung      samsung galaxy a5 2017

In [19]:
def datetime(date,format_string):
    return pd.to_datetime(date,format= format_string,errors='coerce')

eventsData["timestamp"]= datetime(eventsData["timestamp"],"%Y-%m-%dT%H:%M:%S")

In [20]:
eventsData["month"] = eventsData["timestamp"].map(lambda x: x.month)
eventsData["day"] = eventsData["timestamp"].map(lambda x: x.day)

In [21]:
eventsData.head()

,Unnamed: 0,timestamp,event,person,url,sku,model,condition,storage,color,...,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,Parte del dia,month,day
0,0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,samsung galaxy j7 prime,Excelente,32GB,Dourado,...,Cantagalo,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0,Noche,5,18
1,1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iphone 5s,Muito Bom,32GB,Cinza espacial,...,São Paulo,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,Noche,5,18
2,2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iphone 6s,Muito Bom,64GB,Prateado,...,Niterói,Rio de Janeiro,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 61.0,Noche,5,18
3,3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iphone 7,Bom,128GB,Vermelho,...,Juquitiba,Sao Paulo,Brazil,Computer,1360x768,Windows 8.1,Chrome 66.0,Noche,5,18
4,4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,lg g4 h818p,Excelente,32GB,Branco,...,Osasco,Sao Paulo,Brazil,Computer,1536x864,Windows 7,Chrome 66.0,Noche,5,18

In [22]:
last_15 = eventsData

In [23]:
last_15.head()

,Unnamed: 0,timestamp,event,person,url,sku,model,condition,storage,color,...,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,Parte del dia,month,day
0,0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,samsung galaxy j7 prime,Excelente,32GB,Dourado,...,Cantagalo,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0,Noche,5,18
1,1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iphone 5s,Muito Bom,32GB,Cinza espacial,...,São Paulo,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,Noche,5,18
2,2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iphone 6s,Muito Bom,64GB,Prateado,...,Niterói,Rio de Janeiro,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 61.0,Noche,5,18
3,3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iphone 7,Bom,128GB,Vermelho,...,Juquitiba,Sao Paulo,Brazil,Computer,1360x768,Windows 8.1,Chrome 66.0,Noche,5,18
4,4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,lg g4 h818p,Excelente,32GB,Branco,...,Osasco,Sao Paulo,Brazil,Computer,1536x864,Windows 7,Chrome 66.0,Noche,5,18

In [24]:
last_15 = last_15[last_15["month"] == 5]

In [25]:
last_15 = last_15[last_15["day"] >14]

In [26]:
last_15_product = last_15[["person","model"]]

In [27]:
last_15_product.head()

     person                    model
0  4886f805  samsung galaxy j7 prime
1  ad93850f                iphone 5s
2  0297fc1e                iphone 6s
3  2d681dd8                 iphone 7
4  cccea85e              lg g4 h818p

In [28]:
last_15_product = last_15_product.dropna()

In [29]:
last_15_product["marca"] = last_15_product["model"].map(lambda x:"apple" if(x.split(" ")[0] in ["iphone","ipad"]) else x.split(" ")[0])

In [30]:
last_15_product["version"] = last_15_product["model"].map(lambda x:" ".join(x.split(" ")[0:2]) if(x.split(" ")[0] in ["iphone","ipad"]) else " ".join(x.split(" ")[1:3]))

In [31]:
last_15_product.head()

     person                    model    marca    version
0  4886f805  samsung galaxy j7 prime  samsung  galaxy j7
1  ad93850f                iphone 5s    apple  iphone 5s
2  0297fc1e                iphone 6s    apple  iphone 6s
3  2d681dd8                 iphone 7    apple   iphone 7
4  cccea85e              lg g4 h818p       lg   g4 h818p

In [32]:
last_15_product = last_15_product.drop("model",axis=1)

In [33]:
"samsung" in prob_marcas.keys()

True

In [34]:
last_15_product["prob_marca"] = last_15_product["marca"].map(lambda x:prob_marcas[x] if(x in prob_marcas.keys()) else 0)

In [35]:
last_15_product["prob_model"] = last_15_product["version"].map(lambda x:prob_model[x] if(x in prob_model.keys()) else 0)

In [36]:
last_15_product.head()

     person    marca    version  prob_marca  prob_model
0  4886f805  samsung  galaxy j7    0.509801    0.000000
1  ad93850f    apple  iphone 5s    0.286419    0.069948
2  0297fc1e    apple  iphone 6s    0.286419    0.043294
3  2d681dd8    apple   iphone 7    0.286419    0.012269
4  cccea85e       lg   g4 h818p    0.022705    0.000000

In [37]:
last_15_product = last_15_product[["person","prob_marca","prob_model"]]

In [38]:
last_15_product.head()

     person  prob_marca  prob_model
0  4886f805    0.509801    0.000000
1  ad93850f    0.286419    0.069948
2  0297fc1e    0.286419    0.043294
3  2d681dd8    0.286419    0.012269
4  cccea85e    0.022705    0.000000

In [40]:
last_15_product["cant_conversiones"] = 1

In [39]:
last_15_product = last_15_product.groupby("person",as_index = False).sum()

In [41]:
last_15_product.head()

     person  prob_marca  prob_model  cant_conversiones
0  0008ed71    0.818925    0.010436                  1
1  00091926   78.189113    9.216190                  1
2  000ba417   64.738542    0.175293                  1
3  000c79fe    1.145678    0.049076                  1
4  000e4d9e  162.466507    0.661120                  1

In [43]:
last_15_product["prob_marca"] = last_15_product["prob_marca"] / (last_15_product["cant_conversiones"]+1)

In [45]:
last_15_product.head()

     person  prob_marca  prob_model  cant_conversiones
0  0008ed71    0.409463    0.005218                  1
1  00091926   39.094556    4.608095                  1
2  000ba417   32.369271    0.087646                  1
3  000c79fe    0.572839    0.024538                  1
4  000e4d9e   81.233253    0.330560                  1

In [42]:
last_15_product["prob_model"] = last_15_product["prob_model"] /(last_15_product["cant_conversiones"]+1)

In [44]:
last_15_product.head()

     person  prob_marca  prob_model  cant_conversiones
0  0008ed71    0.409463    0.005218                  1
1  00091926   39.094556    4.608095                  1
2  000ba417   32.369271    0.087646                  1
3  000c79fe    0.572839    0.024538                  1
4  000e4d9e   81.233253    0.330560                  1

In [46]:
usersDataTrain = pd.read_csv("setEntrenamiento.csv")

In [47]:
usersDataTrain.head()

,Unnamed: 0,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead,skus,screen_resolution,Busca_terminos_populares,...,Prob_Apple,Prob_Asus,Prob_Lenovo,Prob_lg,Prob_motorola,Prob_quantum,Prob_samsung,Prob_sony,sku_multiple,label
0,0,0008ed71,3,3.0,0.0,0.0,0.0,1,0.0,0,...,0.409875,0.0,0.0,0.017454,0.000000,0.0,0.426211,0.0,12.0,0
1,1,000c79fe,1,1.0,0.0,1.0,0.0,1,0.0,8,...,0.409875,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,79.0,0
2,2,001802e4,1,1.0,0.0,5.0,0.0,1,0.0,0,...,0.409875,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,24.0,0
3,3,0019e639,21,15.0,2.0,29.0,0.0,1,0.0,3,...,0.409875,0.0,0.0,0.000000,0.775506,0.0,3.409688,0.0,608.0,0
4,4,001b0bf9,1,2.0,1.0,0.0,0.0,1,0.0,0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.852422,0.0,24.0,0

In [48]:
usersDataTrain = pd.merge(usersDataTrain,last_15_product,how = "left",on = "person")

In [49]:
usersDataTrain["prob_model"] = usersDataTrain["prob_model"].fillna(0)

In [50]:
usersDataTrain["prob_marca"] = usersDataTrain["prob_marca"].fillna(0)

In [51]:
usersDataTrain = usersDataTrain.drop("cant_conversiones",axis=1)

In [52]:
usersDataTrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19414 entries, 0 to 19413
Data columns (total 81 columns):
Unnamed: 0                           19414 non-null int64
person                               19414 non-null object
cant_seciones                        19414 non-null int64
event_checkout                       19414 non-null float64
event_conversion                     19414 non-null float64
event_ad campaign hit                19414 non-null float64
event_lead                           19414 non-null float64
skus                                 19414 non-null int64
screen_resolution                    19414 non-null float64
Busca_terminos_populares             19414 non-null int64
Computer                             19414 non-null float64
Smartphone                           19414 non-null float64
otros                                19414 non-null float64
marca_apple                          19414 non-null float64
marca_asus                           19414 non-null float64
marca_lenovo                         19414 non-null float64
marca_lg                             19414 non-null float64
marca_motorola                       19414 non-null float64
marca_samsung                        19414 non-null float64
marca_sony                           19414 non-null float64
condition_Bom                        19414 non-null float64
condition_Bom - Sem Touch ID         19414 non-null float64
condition_Excelente                  19414 non-null float64
condition_Muito Bom                  19414 non-null float64
version_galaxy j7                    19414 non-null float64
version_galaxy j5                    19414 non-null float64
version_galaxy s7                    19414 non-null float64
version_iphone 6                     19414 non-null float64
version_iphone 5s                    19414 non-null float64
version_iphone 6s                    19414 non-null float64
version_moto g4                      19414 non-null float64
version_moto g2                      19414 non-null float64
version_galaxy s6                    19414 non-null float64
storage_128GB                        19414 non-null float64
storage_16GB                         19414 non-null float64
storage_256GB                        19414 non-null float64
storage_32GB                         19414 non-null float64
storage_4GB                          19414 non-null float64
storage_512MB                        19414 non-null float64
storage_64GB                         19414 non-null float64
storage_8GB                          19414 non-null float64
Parte del dia_Madrugada              19414 non-null float64
Parte del dia_Mañana                 19414 non-null float64
Parte del dia_Noche                  19414 non-null float64
Parte del dia_Tarde                  19414 non-null float64
campaign_source_google               19414 non-null float64
campaign_source_criteo               19414 non-null float64
campaign_source_rtbhouse             19414 non-null float64
channel_Direct                       19414 non-null float64
channel_Paid                         19414 non-null float64
channel_Organic                      19414 non-null float64
channel_Referral                     19414 non-null float64
Brasilero                            19414 non-null float64
ventas_region                        19414 non-null float64
count_activity                       19414 non-null float64
conversiones_15lastdays              19414 non-null float64
checkout_15lastdays                  19414 non-null float64
viewed_15lastday                     19414 non-null float64
color_Preto                          19414 non-null float64
color_Dourado                        19414 non-null float64
color_Branco                         19414 non-null float64
color_Cinza espacial                 19414 non-null float64
new_15lastdays                       19414 non-null float64
sku                                  19414 non-null float64
cantidad_De_Compras_De_Mismo_Sku     19414 non-null float64
Cantidad_De_Busquedas_Por_Termino    19414 non-null float64
search_and_purchase                  19414 non-null float64
cantidad_de_Url_de_compra            19414 non-null float64
cantidadDeStaticPage                 19414 non-null float64
Prob_Apple                           19414 non-null float64
Prob_Asus                            19414 non-null float64
Prob_Lenovo                          19414 non-null float64
Prob_lg                              19414 non-null float64
Prob_motorola                        19414 non-null float64
Prob_quantum                         19414 non-null float64
Prob_samsung                         19414 non-null float64
Prob_sony                            19414 non-null float64
sku_multiple                         19414 non-null float64
label                                19414 non-null int64
prob_marca                           19414 non-null float64
prob_model                           19414 non-null float64
dtypes: float64(75), int64(5), object(1)
memory usage: 12.1+ MB

In [53]:
usersDataTrain.to_csv("setEntrenamiento.csv",index = False)

In [54]:
test = pd.read_csv('setTest.csv')

In [55]:
test.head()

,Unnamed: 0,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead,skus,screen_resolution,Busca_terminos_populares,...,cantidadDeStaticPage,Prob_Apple,Prob_Asus,Prob_Lenovo,Prob_lg,Prob_motorola,Prob_quantum,Prob_samsung,Prob_sony,sku_multiple
0,0,4886f805,1,1.0,0.0,0.0,0.0,1,0.0,0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.426211,0.0,21.0
1,1,0297fc1e,96,7.0,0.0,29.0,1.0,1,0.0,5,...,0.0,2.869125,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,326.0
2,2,2d681dd8,2,1.0,0.0,1.0,0.0,1,0.0,1,...,0.0,0.000000,0.0,0.0,0.0,0.129251,0.0,0.000000,0.0,53.0
3,3,cccea85e,28,1.0,0.0,15.0,0.0,1,0.0,0,...,5.0,0.000000,0.0,0.0,0.0,0.129251,0.0,0.000000,0.0,240.0
4,4,4c8a8b93,20,2.0,0.0,14.0,0.0,1,0.0,9,...,0.0,0.819750,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,132.0

In [56]:
test = pd.merge(test,last_15_product,on="person",how="left")

In [57]:
test = test.drop("cant_conversiones",axis=1)

In [58]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19415 entries, 0 to 19414
Data columns (total 80 columns):
Unnamed: 0                           19415 non-null int64
person                               19415 non-null object
cant_seciones                        19415 non-null int64
event_checkout                       19415 non-null float64
event_conversion                     19415 non-null float64
event_ad campaign hit                19415 non-null float64
event_lead                           19415 non-null float64
skus                                 19415 non-null int64
screen_resolution                    19415 non-null float64
Busca_terminos_populares             19415 non-null int64
Computer                             19415 non-null float64
Smartphone                           19415 non-null float64
otros                                19415 non-null float64
marca_apple                          19415 non-null float64
marca_asus                           19415 non-null float64
marca_lenovo                         19415 non-null float64
marca_lg                             19415 non-null float64
marca_motorola                       19415 non-null float64
marca_samsung                        19415 non-null float64
marca_sony                           19415 non-null float64
condition_Bom                        19415 non-null float64
condition_Bom - Sem Touch ID         19415 non-null float64
condition_Excelente                  19415 non-null float64
condition_Muito Bom                  19415 non-null float64
version_galaxy j7                    19415 non-null float64
version_galaxy j5                    19415 non-null float64
version_galaxy s7                    19415 non-null float64
version_iphone 6                     19415 non-null float64
version_iphone 5s                    19415 non-null float64
version_iphone 6s                    19415 non-null float64
version_moto g4                      19415 non-null float64
version_moto g2                      19415 non-null float64
version_galaxy s6                    19415 non-null float64
storage_128GB                        19415 non-null float64
storage_16GB                         19415 non-null float64
storage_256GB                        19415 non-null float64
storage_32GB                         19415 non-null float64
storage_4GB                          19415 non-null float64
storage_512MB                        19415 non-null float64
storage_64GB                         19415 non-null float64
storage_8GB                          19415 non-null float64
Parte del dia_Madrugada              19415 non-null float64
Parte del dia_Mañana                 19415 non-null float64
Parte del dia_Noche                  19415 non-null float64
Parte del dia_Tarde                  19415 non-null float64
campaign_source_google               19415 non-null float64
campaign_source_criteo               19415 non-null float64
campaign_source_rtbhouse             19415 non-null float64
channel_Direct                       19415 non-null float64
channel_Paid                         19415 non-null float64
channel_Organic                      19415 non-null float64
channel_Referral                     19415 non-null float64
Brasilero                            19415 non-null float64
ventas_region                        19415 non-null float64
count_activity                       19415 non-null float64
conversiones_15lastdays              19415 non-null float64
checkout_15lastdays                  19415 non-null float64
viewed_15lastday                     19415 non-null float64
color_Preto                          19415 non-null float64
color_Dourado                        19415 non-null float64
color_Branco                         19415 non-null float64
color_Cinza espacial                 19415 non-null float64
new_15lastdays                       19415 non-null float64
sku                                  19415 non-null float64
cantidad_De_Compras_De_Mismo_Sku     19415 non-null float64
Cantidad_De_Busquedas_Por_Termino    19415 non-null float64
search_and_purchase                  19415 non-null float64
cantidad_de_Url_de_compra            19415 non-null float64
cantidadDeStaticPage                 19415 non-null float64
Prob_Apple                           19415 non-null float64
Prob_Asus                            19415 non-null float64
Prob_Lenovo                          19415 non-null float64
Prob_lg                              19415 non-null float64
Prob_motorola                        19415 non-null float64
Prob_quantum                         19415 non-null float64
Prob_samsung                         19415 non-null float64
Prob_sony                            19415 non-null float64
sku_multiple                         19415 non-null float64
prob_marca                           17870 non-null float64
prob_model                           17870 non-null float64
dtypes: float64(75), int64(4), object(1)
memory usage: 12.0+ MB

In [59]:
test["prob_marca"] = test["prob_marca"].fillna(0)
test["prob_model"] = test["prob_model"].fillna(0)

In [60]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19415 entries, 0 to 19414
Data columns (total 80 columns):
Unnamed: 0                           19415 non-null int64
person                               19415 non-null object
cant_seciones                        19415 non-null int64
event_checkout                       19415 non-null float64
event_conversion                     19415 non-null float64
event_ad campaign hit                19415 non-null float64
event_lead                           19415 non-null float64
skus                                 19415 non-null int64
screen_resolution                    19415 non-null float64
Busca_terminos_populares             19415 non-null int64
Computer                             19415 non-null float64
Smartphone                           19415 non-null float64
otros                                19415 non-null float64
marca_apple                          19415 non-null float64
marca_asus                           19415 non-null float64
marca_lenovo                         19415 non-null float64
marca_lg                             19415 non-null float64
marca_motorola                       19415 non-null float64
marca_samsung                        19415 non-null float64
marca_sony                           19415 non-null float64
condition_Bom                        19415 non-null float64
condition_Bom - Sem Touch ID         19415 non-null float64
condition_Excelente                  19415 non-null float64
condition_Muito Bom                  19415 non-null float64
version_galaxy j7                    19415 non-null float64
version_galaxy j5                    19415 non-null float64
version_galaxy s7                    19415 non-null float64
version_iphone 6                     19415 non-null float64
version_iphone 5s                    19415 non-null float64
version_iphone 6s                    19415 non-null float64
version_moto g4                      19415 non-null float64
version_moto g2                      19415 non-null float64
version_galaxy s6                    19415 non-null float64
storage_128GB                        19415 non-null float64
storage_16GB                         19415 non-null float64
storage_256GB                        19415 non-null float64
storage_32GB                         19415 non-null float64
storage_4GB                          19415 non-null float64
storage_512MB                        19415 non-null float64
storage_64GB                         19415 non-null float64
storage_8GB                          19415 non-null float64
Parte del dia_Madrugada              19415 non-null float64
Parte del dia_Mañana                 19415 non-null float64
Parte del dia_Noche                  19415 non-null float64
Parte del dia_Tarde                  19415 non-null float64
campaign_source_google               19415 non-null float64
campaign_source_criteo               19415 non-null float64
campaign_source_rtbhouse             19415 non-null float64
channel_Direct                       19415 non-null float64
channel_Paid                         19415 non-null float64
channel_Organic                      19415 non-null float64
channel_Referral                     19415 non-null float64
Brasilero                            19415 non-null float64
ventas_region                        19415 non-null float64
count_activity                       19415 non-null float64
conversiones_15lastdays              19415 non-null float64
checkout_15lastdays                  19415 non-null float64
viewed_15lastday                     19415 non-null float64
color_Preto                          19415 non-null float64
color_Dourado                        19415 non-null float64
color_Branco                         19415 non-null float64
color_Cinza espacial                 19415 non-null float64
new_15lastdays                       19415 non-null float64
sku                                  19415 non-null float64
cantidad_De_Compras_De_Mismo_Sku     19415 non-null float64
Cantidad_De_Busquedas_Por_Termino    19415 non-null float64
search_and_purchase                  19415 non-null float64
cantidad_de_Url_de_compra            19415 non-null float64
cantidadDeStaticPage                 19415 non-null float64
Prob_Apple                           19415 non-null float64
Prob_Asus                            19415 non-null float64
Prob_Lenovo                          19415 non-null float64
Prob_lg                              19415 non-null float64
Prob_motorola                        19415 non-null float64
Prob_quantum                         19415 non-null float64
Prob_samsung                         19415 non-null float64
Prob_sony                            19415 non-null float64
sku_multiple                         19415 non-null float64
prob_marca                           19415 non-null float64
prob_model                           19415 non-null float64
dtypes: float64(75), int64(4), object(1)
memory usage: 12.0+ MB

In [61]:
test.to_csv('setTest.csv',index = False)