In [18]:
import pandas as pd
import numpy as np

In [37]:

result2 = pd.read_csv('resultadoXGboosting3.csv')

In [38]:
result_rf = pd.read_csv("resultadoRandomForestUnderSamplingUltimo.csv")

In [39]:
result_rf.head()

     person     label
0  4886f805  0.029756
1  0297fc1e  0.486578
2  2d681dd8  0.139271
3  cccea85e  0.748583
4  4c8a8b93  0.585443

In [40]:
result = result_rf

In [41]:
result['label'] = (result_rf['label'] +result2['label'])/3.8

In [42]:
result.head()

     person     label
0  4886f805  0.067089
1  0297fc1e  0.280041
2  2d681dd8  0.124931
3  cccea85e  0.418060
4  4c8a8b93  0.305518

In [43]:
result.to_csv('mean.csv',index = False)