In [37]:
import pandas as pd
import numpy as np

In [38]:

result2 = pd.read_csv('resultadoRandomSVM.csv')

In [39]:
result_rf = pd.read_csv("resultadoRandomForestUnderSamplingUltimo.csv")

In [40]:
result_rf.head()

     person     label
0  4886f805  0.014166
1  0297fc1e  0.571765
2  2d681dd8  0.240555
3  cccea85e  0.702659
4  4c8a8b93  0.645192

In [41]:
result = result_rf

In [42]:
result['label'] = (result_rf['label'] +result2['label'])/2.0

In [43]:
result.head()

     person     label
0  4886f805  0.198160
1  0297fc1e  0.477677
2  2d681dd8  0.312072
3  cccea85e  0.543124
4  4c8a8b93  0.514391

In [44]:
result.to_csv('mean.csv',index = False)