In [1]:
import pandas as pd
import numpy as np

In [2]:

result2 = pd.read_csv('resultadoXGboosting3.csv')

In [3]:
result_rf = pd.read_csv("resultadoRandomForestUnderSamplingUltimo.csv")

In [4]:
result_rf.head()

     person     label
0  4886f805  0.040921
1  0297fc1e  0.541716
2  2d681dd8  0.158008
3  cccea85e  0.756765
4  4c8a8b93  0.597280

In [5]:
result = result_rf

In [6]:
result['label'] = (result_rf['label'] +result2['label'])/2.0

In [7]:
result.head()

     person     label
0  4886f805  0.133052
1  0297fc1e  0.559646
2  2d681dd8  0.246738
3  cccea85e  0.798406
4  4c8a8b93  0.586403

In [8]:
result.to_csv('mean.csv',index = False)