In [1]:
import pandas as pd
import numpy as np

In [2]:
result_xgboost = pd.read_csv("resultadoXGBoosting3.csv")

In [3]:
result_rf = pd.read_csv("resultadoRandomForestUnderSamplingUltimo.csv")

In [4]:
result_xgboost.head()

     person     label
0  4886f805  0.311584
1  0297fc1e  0.097531
2  2d681dd8  0.471100
3  cccea85e  0.382328
4  4c8a8b93  0.335256

In [5]:
result_rf.head()

     person     label
0  4886f805  0.474901
1  0297fc1e  0.447238
2  2d681dd8  0.499650
3  cccea85e  0.486406
4  4c8a8b93  0.529992

In [6]:
result = result_rf

In [7]:
result['label'] = (result_rf['label'] + result_xgboost['label'])/2.0

In [8]:
result.head()

     person     label
0  4886f805  0.393242
1  0297fc1e  0.272385
2  2d681dd8  0.485375
3  cccea85e  0.434367
4  4c8a8b93  0.432624

In [9]:
result.to_csv('mean.csv',index = False)