In [ ]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.naive_bayes import GaussianNB

In [2]:
#La primer version tiene mas filas pero por la cantidad de columnas tuve que quedarme con una version
#mas reducida aun
total_train = pd.read_csv('entrenamiento6Mohev2.csv')

In [15]:
total_train.count()

se_postulo           3500000
estado_0             3500000
estado_1             3500000
estado_2             3500000
nivel_laboral_0      3500000
nivel_laboral_1      3500000
nivel_laboral_2      3500000
nivel_laboral_3      3500000
nivel_laboral_4      3500000
nombre_sort_0.0      3500000
nombre_sort_1.0      3500000
nombre_sort_2.0      3500000
nombre_sort_3.0      3500000
nombre_sort_4.0      3500000
nombre_sort_5.0      3500000
nombre_sort_6.0      3500000
nombre_zona_0        3500000
nombre_zona_1        3500000
nombre_zona_2        3500000
nombre_zona_3        3500000
sexo_0               3500000
sexo_1               3500000
sexo_2               3500000
sexo_3               3500000
tipo_de_trabajo_0    3500000
tipo_de_trabajo_1    3500000
tipo_de_trabajo_2    3500000
tipo_de_trabajo_3    3500000
tipo_de_trabajo_4    3500000
tipo_de_trabajo_5    3500000
tipo_de_trabajo_6    3500000
tipo_de_trabajo_7    3500000
tipo_de_trabajo_8    3500000
tipo_de_trabajo_9    3500000
edadEncoded_0.0      3500000
edadEncoded_1.0      3500000
edadEncoded_2.0      3500000
edadEncoded_3.0      3500000
edadEncoded_4.0      3500000
dtype: int64

In [3]:
#Disminuyo mas la cantidad de filas a 3.500.000, manteniendo aprox la proporciones de postulaciones
#no postulaciones en un 50-50
total_train = total_train.sample(3500000)
total_train.reset_index(inplace = True,drop = True)
total_train.head()

,se_postulo,estado_0,estado_1,estado_2,nivel_laboral_0,nivel_laboral_1,nivel_laboral_2,nivel_laboral_3,nivel_laboral_4,nombre_sort_0.0,...,tipo_de_trabajo_5,tipo_de_trabajo_6,tipo_de_trabajo_7,tipo_de_trabajo_8,tipo_de_trabajo_9,edadEncoded_0.0,edadEncoded_1.0,edadEncoded_2.0,edadEncoded_3.0,edadEncoded_4.0
0,1,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
#Como no esta en el set de test lo elimino
total_train.drop(columns = ['sexo_3'],inplace = True)

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(total_train.drop(['se_postulo'], axis=1).values, total_train['se_postulo'], test_size=0.20, random_state=42)

In [6]:
clf = GaussianNB()

In [7]:
clf.fit(X_train, y_train)

GaussianNB(priors=None)

In [8]:
clf.predict(X_test)

array([1, 1, 1, ..., 1, 1, 1])

In [9]:
#Pruebo el score para ver si realiza overfitting
clf.score(X_test,y_test)

0.5609228571428572

In [10]:
test = pd.read_csv('test6Mohe.csv')

In [11]:
#Como no esta en el set de train elimino las columnas
test.drop(columns = ['nivel_laboral_5',
'nivel_laboral_6','nombre_zona_4','nombre_zona_5','nombre_zona_6','nombre_zona_7','nombre_zona_8','nombre_zona_9','nombre_zona_10','nombre_zona_11',
                     'nombre_zona_12','nombre_zona_13','nombre_zona_14','nombre_zona_15','nombre_zona_16','nombre_zona_17','tipo_de_trabajo_10'],inplace = True)

In [12]:
test = test.drop(['idaviso','idpostulante'],axis=1)

In [13]:
result = clf.predict(test.drop(['id'],axis = 1))

In [14]:
test['sepostulo'] = result

In [16]:
test = test[['id','sepostulo']]

In [17]:
test.head()

   id  sepostulo
0   0          0
1   1          1
2   2          0
3   3          1
4   4          0

In [18]:
#Verificamos como nos fue aproximadamente
test['sepostulo'].value_counts()

1    50957
0    49043
Name: sepostulo, dtype: int64

In [19]:
GaussianNB3 = test.to_csv('GaussianNB4OHE.csv', index=False)