# SVM

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.util import hash_pandas_object
from sklearn import svm

%matplotlib inline

In [2]:
postulations = pd.read_csv('../MapDataAnalysis/SVC/postulaciones_nopostulacionesRedCodificado1.5M.csv')

In [3]:
postulations.head()

,Unnamed: 0,idaviso,idpostulante,nombre_area,nombre_sort,se_postulo,titulo,estadoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,edadEncoded,zonaEncoded
0,261501,1112460141,RzrokYY,Administración,3.000000,1,Administrativo/a área salud,0,0,0,2,1.0,0.0
1,955526,1112418556,e0ezR2,Comercial,2.295845,1,Asistente Comercial - Villa La Angostura,1,5,0,0,3.0,0.0
2,3851807,1112269764,wVkZ6XV,Ventas,3.000000,0,Cajero/a-Repositor/a (Capital Federal),0,1,1,1,1.0,0.0
3,97919,1112303105,4rmb8wP,Recepcionista,3.000000,1,Recepcionista Administrativa,2,0,1,0,4.0,0.0
4,3044447,1112350805,pzdQ0Gr,Ventas,3.000000,0,Cajero/a-Repositor/a (Capital Federal),0,0,0,0,0.0,0.0

In [4]:
postulations =postulations.drop(columns = ['idaviso','idpostulante','Unnamed: 0'])

In [5]:
postulations.head()

,nombre_area,nombre_sort,se_postulo,titulo,estadoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,edadEncoded,zonaEncoded
0,Administración,3.000000,1,Administrativo/a área salud,0,0,0,2,1.0,0.0
1,Comercial,2.295845,1,Asistente Comercial - Villa La Angostura,1,5,0,0,3.0,0.0
2,Ventas,3.000000,0,Cajero/a-Repositor/a (Capital Federal),0,1,1,1,1.0,0.0
3,Recepcionista,3.000000,1,Recepcionista Administrativa,2,0,1,0,4.0,0.0
4,Ventas,3.000000,0,Cajero/a-Repositor/a (Capital Federal),0,0,0,0,0.0,0.0

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for column in postulations.columns:
    if postulations[column].dtype == type(object):
        postulations[column] = le.fit_transform(postulations[column].astype(str))

postulations.sample(5)

,nombre_area,nombre_sort,se_postulo,titulo,estadoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,edadEncoded,zonaEncoded
1097809,163,3.0,1,5323,0,0,0,0,1.0,0.0
94643,179,2.0,0,4633,1,0,1,1,4.0,0.0
139520,179,2.0,0,4633,0,0,0,1,1.0,0.0
666869,179,3.0,0,4633,2,0,0,0,2.0,0.0
1421375,179,2.0,0,4633,0,0,0,0,0.0,0.0

In [7]:
postulations = postulations.drop(['nombre_area','titulo'], axis=1)

In [ ]:
#Normalizamos los valores
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(postulations) 
total_train.loc[:,:] = scaled_values

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(postulations.drop(['se_postulo'], axis=1).values, postulations['se_postulo'], test_size=0.20, random_state=75)

In [9]:
clf = svm.SVC(probability=True, kernel='sigmoid')
clf.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
clf.predict(X_test)

In [ ]:
#Pruebo el score para ver si realiza overfitting
clf.score(X_test,y_test)

In [ ]:
test = pd.read_csv('../MapDataAnalysis/test_encoded.csv')

In [ ]:
test['zonaEncoded'] = test['zonaEncoded'].fillna(method = 'bfill')

In [ ]:
test = test.drop(['idaviso','idpostulante'],axis=1)

In [ ]:
#Normalizamos los valores
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(test.drop(columns = ['id'])) 
test.loc[:,1:] = scaled_values

In [ ]:
test.head()

In [ ]:
result = clf.predict_proba(test.drop(['id'],axis = 1))

In [ ]:
result2 = []
for elem in result:
    result2.append(elem[1])

In [ ]:
test['sepostulo'] = result2

In [ ]:
test = test[['id','sepostulo']]

In [ ]:
test.head()

In [ ]:
test.to_csv('../Predictions/SVM1v3M.csv', index=False)